.shop-container {
  @apply w-full px-5 mx-auto max-w-screen-2xl;
}

div.shop-main-container {
  /* Featured products */

  .section {
    @apply py-6;
  }

  .section.section-featured-products {
    @apply py-3;

    background: #ff8d00;
  }

  div#featured-products-container {
    display: flex;
    flex-direction: row;
    flex: 1 2 auto;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  div#search-input-container {
    width: 100%;
    position: relative;
  }

  div#products-left-container > h2 {
    font-size: 30px;
    font-weight: bold;
  }

  div#products-left-container > p {
    width: 436px;
  }

  div#products-right-container {
    display: flex;
    height: 340px;
  }

  div#products-left-container > h4 {
    color: white;
    font-size: 14px;
  }

  div#products-left-container > .add-to-cart {
    @apply pt-4;
  }

  .product {
    margin: 0 20px;
  }

  div.product-details > b {
    font-size: 16px;
  }

  div.product-details > p {
    font-size: 16px;
  }

  /* Search bar */

  input#search-input {
    border: 2px solid #3c3c3c;
    width: 100%;
  }

  input#search-input::placeholder {
    padding-left: 51px;
  }

  #search-icon {
    position: absolute;
    left: 17px;
    top: 7px;
  }

  div.shop-by-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    font-size: 25px;
  }

  div.shop-by-container .item-name {
    margin: 10px 0 30px 0;
  }

  div.shop-by-container.shop-by-vendor-container {
    color: #3c3c3c;

    .item-name {
      @apply text-center mt-0;
    }
  }

  /* popup */

  div#popup-container {
    width: 100%;
    position: relative;
  }

  div#reflektion-container {
    position: absolute;
    background: #e5e5e5;
    width: 100%;
    padding: 30px 60px;
    font-size: 16px;
    display: flex;
  }

  div#reflektion-left-container {
    flex: 1 0 20%;
  }

  div#reflektion-left-container li:first-child {
    font-weight: bold;
  }

  div#reflektion-right-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-height: 770px;
    overflow-y: scroll;
    box-shadow: inset #0000001f -1px 0 3px 2px;
    padding: 20px 0;
  }

  div#reflektion-right-container > .product {
    margin-bottom: 52px;
    background: white;
    padding: 5px;
  }
}

/* Product list */

div#dropdown-container {
  margin-right: 45px;
}

div#shop-content-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.dropdown-container {
  width: 250px;
  font-size: 20px;
  border-bottom: 2px solid #d1d1d1;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  align-items: center;
  cursor: pointer;
}

ul.dropdown-items {
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
  background: #efefef;
}

li.dropdown-item {
  padding: 5px 0;
}

li.dropdown-item:hover {
  background-color: #e5e5e5;
}

li.dropdown-item span {
  width: 100%;
  height: 100%;
  display: block;
  padding-left: 20px;
  cursor: pointer;
}

ul.dropdown-items.expanded {
  height: fit-content;
  transition: height 0.3s;
}

p.shop-integration-error {
  @apply text-center text-yellow font-bold;
}

.continue-shopping-btn {
  @apply my-3;
}
