// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn__area {
  @include flex--fs;
  background-image: url(../../../assets/img/btn-background.png);
  background-size: cover;
  background-position: bottom;
  padding: 6%;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

a.btn--main {
  color: color(black, base);
  background-color: color(yellow, base);
  font-weight: 600;
  padding: 0.35em 0.75em;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(23,23,23,0.3);
  transition: all .2s ease-in-out;

  &:hover {
    color: color(black, base);
    background-color: color(yellow, dark);
    box-shadow: 0 2px 3px rgba(23,23,23,0.3);
  }

  &--big {
    font-size: 1.25em;
    padding: 0.7em 1em;
    margin: 0;
  }
}