@charset "UTF-8";

/* 1. Configuration and helpers */

@import "./abstracts/mixins.css";

/* 2. Tailwind base stuff */

@import "tailwindcss/base";

/* 3. Our base stuff */

@import "./base/sitecore.css";
@import "./base/base.css";
@import "./base/typography.css";
@import "./base/helpers.css";

/* 4. Tailwind components */

@import "tailwindcss/components";

/* 5. Our components */

@import "./layout/layout.css";
@import "./layout/breadcrumb.css";
@import "./layout/buttons.css";
@import "./layout/header.css";
@import "./layout/hero.css";
@import "./layout/featuredEvent.css";
@import "./layout/fullImageSection.css";
@import "./layout/speakers.css";
@import "./layout/sponsors.css";
@import "./layout/promo.css";
@import "./layout/content-list.css";
@import "./layout/tickets.css";
@import "./layout/attendeeform.css";
@import "./layout/product-detail.css";
@import "./layout/session-list.css";
@import "./layout/section-news.css";
@import "./layout/footer.css";

/* Tailwindify other components and pages from rest.css here */
@import "./rest.css";

/* 6. Our page-specific styles */

/* 7. Tailwind utilities */

@import "tailwindcss/utilities";
