@charset "UTF-8";

/* 1. Configuration and helpers */

@import "./abstracts/mixins.css";

/* 2. Tailwind base stuff */

@import "tailwindcss/base";

/* 3. Our base stuff */

@import "./base/sitecore.css";
@import "./base/base.css";
@import "./base/typography.css";
@import "./base/helpers.css";

/* 4. Tailwind components */

@import "tailwindcss/components";

/* 5. Our layout */

@import "./layout/layout.css";
@import "./layout/buttons.css";
@import "./layout/forms.css";
@import "./layout/grids.css";
@import "./layout/sections.css";
@import "./layout/section-news.css";
@import "./layout/section-speakers.css";
@import "./layout/section-sponsors.css";

/* Tailwindify other components and pages from rest.css here */
@import "./rest.css";

/* 6. Our components */

@import "./components/AttendeeForm.css";
@import "./components/AttendeeRegistrationForm.css";
@import "./components/Breadcrumb.css";
@import "./components/CountdownSection.css";
@import "./components/FeaturedEvent.css";
@import "./components/Footer.css";
@import "./components/FullImageSection.css";
@import "./components/Header.css";
@import "./components/HeaderBanner.css";
@import "./components/HeroImage.css";
@import "./components/HeroSection.css";
@import "./components/MainNavigation.css";
@import "./components/NewsDetail.css";
@import "./components/NewsGrid.css";
@import "./components/NewsList.css";
@import "./components/OrderSummary.css";
@import "./components/PaymentAndBillingForm.css";
@import "./components/PaymentConfirmed.css";
@import "./components/PaymentForm.css";
@import "./components/ProductDetail.css";
@import "./components/Promo.css";
@import "./components/RegistrationGrid.css";
@import "./components/RequestInfoForm.css";
@import "./components/SessionList.css";
@import "./components/SessionsFilters.css";
@import "./components/SpeakersGrid.css";
@import "./components/SponsorsGrid.css";
@import "./components/ThreeColumnsSection.css";
@import "./components/TicketGrid.css";
@import "./components/TicketPaymentConfirmed.css";
@import "./components/TicketUpsell.css";

/* 7. Our page-specific styles */

/* 8. Tailwind utilities */

@import "tailwindcss/utilities";
