@charset "UTF-8";

/* 1. Our configuration and helpers */

@import './abstracts/mixins.css';

/* 2. Our base stuff */

@import './base/sitecore.css';
@import './base/base.css';
@import './base/typography.css';
@import './base/helpers.css';

/* 3. Tailwind base stuff */

/* Specifically importing after our base stuff to mimic Tailwind v2 file creation */

@import 'tailwindcss/base';

/* 4. Our layout */

@import './layout/layout.css';
@import './layout/buttons.css';
@import './layout/forms.css';
@import './layout/grids.css';
@import './layout/information-section.css';
@import './layout/sections.css';
@import './layout/section-news.css';
@import './layout/section-speakers.css';
@import './layout/section-sponsors.css';
@import './layout/text.css';

/* Tailwindify other components and pages from rest.css here */
@import './rest.css';

/* 5. Our components */

/* Account */
@import './components/Account/AccountLayout.css';
@import './components/Account/AddressBook.css';
@import './components/Account/AddressBookFormSection.css';
@import './components/Account/OrderHistory.css';
@import './components/Account/PaymentMethods.css';
@import './components/Account/PaymentMethodsFormSection.css';
@import './components/Account/UserProfile.css';

/* Checkout */
@import './components/Checkout/CartDetails.css';
@import './components/Checkout/CheckoutDetails.css';
@import './components/Checkout/CheckoutSummary.css';
@import './components/Checkout/LineItemCard.css';
@import './components/Checkout/MiniCart.css';
@import './components/Checkout/OrderReviewDetails.css';
@import './components/Checkout/PreCheckout.css';
@import './components/Checkout/ThankYouHero.css';
@import './components/Checkout/ThankYouSection.css';

/* Forms */
@import './components/Forms/AttendeeForm.css';
@import './components/Forms/EmbedSendForm.css';
@import './components/Forms/RequestInfoForm.css';
@import './components/Forms/ShopForms.css';

/* FullPageSearch */
@import './components/FullPageSearch/FacetList.css';
@import './components/FullPageSearch/FullPageSearch.css';

/* Navigation */
@import './components/Navigation/AccountPopup.css';
@import './components/Navigation/Breadcrumb.css';
@import './components/Navigation/CategoryBreadcrumb.css';
@import './components/Navigation/Footer.css';
@import './components/Navigation/Header.css';
@import './components/Navigation/MainNavigation.css';
@import './components/Navigation/ProductBreadcrumb.css';
@import './components/Navigation/ShopBreadcrumb.css';
@import './components/Navigation/ShopNavigation.css';
@import './components/Navigation/SubpageList.css';

/* News */
@import './components/News/NewsDetail.css';
@import './components/News/NewsGrid.css';
@import './components/News/NewsList.css';

/* NonSitecore */
@import './components/NonSitecore/InformationPageHero.css';
@import './components/NonSitecore/Accordion.css';

/* PageContent */
@import './components/PageContent/DynamicWelcomeMessage.css';
@import './components/PageContent/FeaturedEvent.css';
@import './components/PageContent/FullImageSection.css';
@import './components/PageContent/HeaderBanner.css';
@import './components/PageContent/HeroImage.css';
@import './components/PageContent/HeroSection.css';
@import './components/PageContent/Promo.css';
@import './components/PageContent/SummitFeatures.css';
@import './components/PageContent/TestimonyList.css';
@import './components/PageContent/TextCta.css';
@import './components/PageContent/ThreeColumnsCta.css';
@import './components/PageContent/ThreeColumnsSection.css';
@import './components/PageContent/TicketGrid.css';

/* Payment */
@import './components/Payment/OrderSummary.css';
@import './components/Payment/PaymentAndBillingForm.css';
@import './components/Payment/PaymentConfirmed.css';
@import './components/Payment/PaymentForm.css';
@import './components/Payment/PaymentProgress.css';
@import './components/Payment/TicketPaymentConfirmed.css';

/* PreviewSearch */
@import './components/PreviewSearch/PreviewSearch.css';

/* Products */
@import './components/Products/CategoriesList.css';
@import './components/Products/CategoryHero.css';
@import './components/Products/ProductDetails.css';
@import './components/Products/Shop.css';

/* Sessions */
@import './components/Sessions/SessionsGrid.css';
@import './components/Sessions/SessionList.css';
@import './components/Sessions/SessionsFilters.css';
@import './components/Sessions/SessionInformationPageHero.css';

/* ShopCommon */
@import './components/ShopCommon/CartBadge.css';
@import './components/ShopCommon/Price.css';
@import './components/ShopCommon/ProductCard.css';
@import './components/ShopCommon/ProductList.css';
@import './components/ShopCommon/QuantityInput.css';

/* Speakers */
@import './components/Speakers/FeaturedSpeakers.css';
@import './components/Speakers/SpeakerInformationPageHero.css';
@import './components/Speakers/SpeakerList.css';
@import './components/Speakers/SpeakersGrid.css';

/* Sponsors */
@import './components/Sponsors/SelectedSponsorsGrid.css';

/* Widgets */
@import './components/Widgets/RecommendedProducts.css';

/* 6. Tailwind components */

/* Specifically importing after our components to mimic Tailwind v2 file creation */

@import 'tailwindcss/components';

/* 7. Our page-specific styles */

/* 8. Tailwind utilities */

@import 'tailwindcss/utilities';

/* 9. Other styles */

@import '../../../node_modules/react-loading-skeleton/dist/skeleton.css';
