.section-products {
  @apply bg-cover bg-center bg-no-repeat bg-pattern-color;
}

.section-products-content {
  width: 100%;
  max-width: 1440px;
  padding: 0 3%;
  margin: 0 auto;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product-categories-grid {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em auto 2em;
}

.product-categories-grid-product {
  width: 350px;
  margin: 5px;
  position: relative;
}

.product-categories-grid-product figure img {
  width: 100%;
}

.product-category {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
  margin: 0;
  color: #ffd31c;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.5em;
  transition: all 0.75s;
  -webkit-transition: all 0.25s;
  opacity: 1;
}

.product-categories-grid-product a:hover .product-category {
  opacity: 0;
}

/*********************************************************** */

/* Shine effect */
.product-categories-grid-product figure {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #fff;
  display: flex;
}

.product-categories-grid-product figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background:
    -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.product-categories-grid-product a:hover figure::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}

.product-categories-grid-product figure::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: all 0.75s;
  -webkit-transition: all 0.75s;
}

.product-categories-grid-product a:hover figure::after {
  @apply opacity-0;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}
