.billboard {
  @apply w-screen h-screen overflow-hidden relative;

  .image-container {
    position: absolute;
  }

  .billboard-container {
    @apply flex flex-row absolute;

    width: 800px;
    height: 500px;
    transform-origin: 0 0;

    &.ocean-billboard-bg-jpg {
      transform:
        matrix3d(
          1.23584,
          0.482724,
          0,
          0.000527103,
          -0.154596,
          0.789958,
          0,
          -0.000166373,
          0,
          0,
          1,
          0,
          194,
          135,
          0,
          1
        );
    }

    &.mountains-background {
      transform:
        matrix3d(
          1.0117174128988065,
          0.3253628939339408,
          0,
          0.00042230025211976096,
          -0.040970776943881015,
          0.5100392972584457,
          0,
          -0.000058150437068456945,
          0,
          0,
          1,
          0,
          372,
          308,
          0,
          1
        );
    }

    &.city-billboard {
      transform:
        matrix3d(
          0.39961995727720634,
          -0.34637561636773756,
          0,
          -0.00047023650252415636,
          -0.050961079373187876,
          0.4887054035210441,
          0,
          -0.00005306731537187241,
          0,
          0,
          1,
          0,
          668,
          327,
          0,
          1
        );
    }

    &.city-streets-billboard-jpg {
      transform:
        matrix3d(
          0.66875603911993,
          0.21679928351943764,
          0,
          -0.00018811503614557258,
          0.02190741891337059,
          1.000823301685025,
          0,
          0.00004907991094045182,
          0,
          0,
          1,
          0,
          987,
          97,
          0,
          1
        );
    }

    &.highway-night-billbaord-jpg {
      transform:
        matrix3d(
          1.4831540779411223,
          0.07531638037723391,
          0,
          0.00008392416774967723,
          -0.021651094360181432,
          0.9657578781299733,
          0,
          -0.00003061523191924131,
          0,
          0,
          1,
          0,
          515,
          168,
          0,
          1
        );
    }

    .image-left {
      @apply flex-1 h-full w-1/2 absolute bg-cover;
    }

    .content-right {
      @apply flex-1 h-full absolute right-0 bg-black-dark text-white p-10 pt-4 space-y-4 overflow-hidden;

      &--full {
        @apply w-full;
      }

      &--half {
        @apply w-1/2;
      }

      .logo {
        @apply w-1/2 h-10;
      }

      .slogan {
        @apply w-full font-extrabold uppercase text-2xl;
      }

      .eyebrow {
        @apply w-full text-yellow-light font-bold text-lg;
      }

      .title {
        @apply w-full uppercase text-5xl font-extrabold;
      }

      .body {
        @apply w-full text-lg;
      }
    }
  }
}
