.menu {
  @apply shadow-lg;

  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  z-index: 50;

  &.zoom-menu {
    top: 50px;

    .menu-button::after {
      content: "+";
    }

    .menu-button.active::after {
      content: "-";
    }
  }

  .menu-button {
    @apply absolute w-10 h-10 top-3 left-3 bg-black z-50 text-white text-3xl rounded-full mx-auto text-center font-bold leading-8 cursor-pointer;

    box-shadow: 0 0 2px white, 0 0 4px white, 0 0 6px white, 0 0 8px white;
  }
}
