/*************************************/
/* Header (menu) */
.header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
}
.header__eyebrow {
  background-color: #006ef9;
  height: 30px;
}
.header__eyebrow__content {
  width: 100%;
  max-width: 1440px;
  padding: 0 3%;
  margin: 0 auto;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.header__eyebrow__content a:not(:last-child) {
  margin-right: 0.75em;
}
.header__container {
  background: #232323;
  background: linear-gradient(to left, #232323, #3c3c3c);
  box-shadow: 0 1px 4px 0 rgba(23, 23, 23, 0.3);
}
.header__container__content {
  width: 100%;
  max-width: 1440px;
  padding: 0 3%;
  margin: 0 auto;
  box-sizing: border-box;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__container__content__menu a:not(:last-child) {
  margin-right: 0.75em;
}
.header a:not([class^='btn']) {
  color: #f7f7f7;
  &:hover {
    color: #ffd31c;
  }
}

.header__container__content__logo,
.header__container__content__logo img {
  height: 46px;
}
