{
  "root": true,
  "extends": ["plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "settings": {},
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  },
  "globals": {},
  "ignorePatterns": [],
  "rules": {
    // enable prettier
    "prettier/prettier": "error",
    "no-unused-vars": "error"
  }
}
