#bx-{{ref}} #bx-modal_overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
}

#bx-{{ref}} #bx-modal_overlay .bx-modal_content {
  display: flex;
  flex-direction: row;
  position:relative;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 10px 6px rgba(0,0,0,0.3);
  width: 1020px;
  min-height: 380px;
  border: none;
}

#bx-{{ref}} #bx-modal_overlay .bx-modal_content .bx-modal_left {
  margin: 0;
  width: 450px;
  min-height: 380px;
  background-image: url(https://ch.sitecoredemo.com/api/public/content/df200f3123164dacba7bb6d71f0ccf24?v=0862bf49);
}

#bx-{{ref}} #bx-modal_overlay .bx-modal_content .bx-modal_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 570px;
  padding: 38px;
  font-size: .875rem;
  line-height: 1.25rem;
}

#bx-{{ref}} #bx-modal_overlay .bx-modal_content .bx-modal_right>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}

#bx-{{ref}} #bx-modal_overlay .bx-modal_content h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}

#bx-{{ref}} #bx-modal_overlay .bx-modal_content ul {
  list-style-type: none;
  text-indent: -40px;
  margin-left: 40px;
}

#bx-{{ref}} #bx-modal_overlay .bx-modal_content ul svg {
  margin-right: .75rem;
  --tw-text-opacity: 1;
  color: rgba(0, 110, 249, var(--tw-text-opacity));
}

#bx-{{ref}} #bx-modal_overlay .bx-modal_button-wrapper {
  display: flex;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* close button */
#bx-{{ref}} .bx-modal__btn-close-icon {
  background: transparent;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  margin-top: 15px;
  margin-right: 15px;
  position: absolute;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#bx-{{ref}} .bx-modal__btn-close-icon:after {
  background: transparent;
  content: "";
  height: 24px;
  border-left: 3px solid #8A8F98;
  position: absolute;
  margin: auto;
  transform: rotate(45deg);
}

#bx-{{ref}} .bx-modal__btn-close-icon:before {
  background: transparent;
  content: "";
  height: 24px;
  border-left: 3px solid #8A8F98;
  margin: auto;
  position: absolute;
  transform: rotate(-45deg);
}