.product-list {
  @apply grid grid-cols-2 gap-3 w-full;
  @apply lg:grid-cols-3;
}

button.view-more-products {
  @apply block mx-auto mt-5 px-10 py-2 border-2 border-solid border-black rounded font-bold;
}
