#container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

#monitor {
  background: #000;
  position: relative;
  border-top: 1px solid #888;
  margin: 2%;
  padding: 1% 1% 2% 1%;
  border-radius: 10px;
  border-bottom-left-radius: 50% 2%;
  border-bottom-right-radius: 50% 2%;
  transition: margin-right 1s;
}

#monitor::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 3%;
  left: 36%;
  height: 0.5%;
  width: 28%;
  background: #ddd;
  border-radius: 50%;
  box-shadow: 0 0 3px 0 white;
}

#monitorscreen {
  position: relative;
  background-color: #777;
  background-size: cover;
  background-position: top center;
  height: 0;
  padding-bottom: 52.25%;
  overflow: hidden;
}

.screen {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
