#container {
  margin: auto;
  height: 437px;
  width: 1100px;
  margin-top: 53px;
  margin-left: 305px;
  overflow: hidden;
  transform: perspective(725px) rotateX(4deg) rotateY(12deg) rotateZ(0.6deg);
  transform-origin: center bottom;
}

html {
  background: url(/background2.png) repeat left top fixed;
}

#monitorscreen {
  position: relative;
  background-color: #777;
  background-size: cover;
  background-position: top center;
}

main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
