.menu {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  z-index: 50;

  .menu-button {
    @apply absolute w-10 h-10 top-3 left-3 bg-black z-50 text-white text-3xl rounded-full mx-auto text-center;
  }

  .menu-content {
    display: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 100vh;
    overflow-y: auto;

    @apply bg-gray text-black z-50 mx-auto text-center px-8 py-20;

    .item-title {
      @apply p-2 bg-black text-white;
    }

    .item-link {
      @apply p-2 w-full block cursor-pointer;

      &:hover {
        @apply bg-gray-dark text-white;
      }
    }

    .parent-link {
      .child-link {
        display: none;
      }

      &:hover .child-link {
        display: block;
      }
    }
  }

  &:hover .menu-content {
    display: block;
  }

  &:hover .menu-button {
    display: none;
  }
}
