.roomList {
  @apply bg-white p-10;

  min-width: 1184px;
  min-height: 582px;

  ul {
    @apply w-full grid grid-cols-2 gap-4;

    .room {
      @apply mb-5 flex justify-start items-center bg-white shadow-lg rounded-lg text-left w-3/4;

      .box {
        @apply h-20 w-20 mr-5;
      }
    }
  }
}
