.conference-hall {
  @apply w-screen h-screen overflow-hidden relative;

  .image {
    @apply w-full;
  }

  &.zoomed {
    #container {
      position: unset;

      #monitor {
        position: unset;

        #monitorscreen {
          position: unset;
        }
      }
    }
  }

  #container {
    @apply absolute;

    top: 4%;
    width: 68%;
    left: 15%;
    resize: both;
    max-width: inherit;
    transition: all 300ms linear;

    #monitor {
      border-bottom: none;
      border-radius: 12px;
      padding: 1%;

      &::after {
        @apply hidden;
      }
    }

    #monitorscreen {
      padding-bottom: 46%;

      .schedule {
        @apply flex flex-col absolute top-0 left-0 bottom-0 right-0 overflow-hidden;

        .slide-container {
          @apply absolute top-0 left-0 bottom-0 right-0 invisible;

          animation: fadeout 2s;

          &.active {
            @apply visible;

            animation: fadein 2s;
          }

          .slide {
            @apply flex bg-black-light border-b-2 border-solid border-gray uppercase h-1/3;

            .schedule-time {
              @apply bg-gray text-black font-bold p-4;

              width: 21%;
            }

            .schedule-sessions {
              @apply flex-1 text-white relative cursor-pointer overflow-hidden;

              &.premium-session {
                @apply bg-orange flex flex-row;
              }

              &.keynote-session {
                @apply bg-blue-light text-white flex flex-row;
              }

              .session-image {
                @apply hidden;
              }

              &.show-image {
                .session-image {
                  @apply md:hidden;
                  @apply xl:flex-1 xl:block bg-cover bg-center;

                  animation: fadein 2s;

                  .session-type {
                    @apply xl:absolute xl:bottom-0 xl:justify-start xl:bg-blue-light xl:px-2;
                  }
                }

                .session-content {
                  @apply flex-1;
                }
              }

              .session-content {
                @apply p-2 w-full;

                .session-name {
                  @apply font-bold;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}
