.sessionList {
    .heading {
        @apply text-gray-900 relative inline-block uppercase font-medium tracking-widest pb-6;
    }

    .session {
        @apply flex mb-4;
    }

    .time {
        @apply w-3/12;

        span {
            @apply text-sm text-gray-600 block;
        }
    }

    .icon {
        @apply w-1/12;

        span {
            @apply bg-red-400 h-2 w-2 rounded-full block mt-2
        }
    }

    .data {
        @apply w-8/12;

        .title {
            @apply text-sm font-semibold block;
        }
    }
}