/**
* Set up a decent box model on the root element
*/
html {
  @apply box-border;
}

body {
  @apply overflow-x-hidden;
}

/**
* Make all elements from the DOM inherit from the parent box-sizing
* Since `*` has a specificity of 0, it does not override the `html` value
* making all elements inheriting from the root box-sizing value
* See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
* Basic styles for links
*/
a {
  @apply no-underline text-blue;
}

a:hover,
a:active,
a:focus {
  @apply opacity-100;
}

/**
* Use this class when Skeleton component is inside a flex container
* ie: <Skeleton containerClassname="skeleton-in-flex-container" />
* https://github.com/dvtng/react-loading-skeleton/issues/122
*/
.skeleton-container {
  flex-grow: 1;
  line-height: 1;
  display: block;
}
