body {
  @apply overflow-x-hidden;
}

/**
* Basic styles for links
*/
a {
  @apply no-underline text-blue;
}

a:hover,
a:active,
a:focus {
  @apply opacity-100;
}

/**
* Use this class when Skeleton component is inside a flex container
* ie: <Skeleton containerClassname="skeleton-in-flex-container" />
* https://github.com/dvtng/react-loading-skeleton/issues/122
*/
.skeleton-container {
  @apply block flex-grow;

  line-height: 1;
}
