/* TODO: Try to remove some of these style to use Tailwind defaults and utilities */

/**
* Clear inner floats
*/
.clearfix::after {
  @apply clear-both table;

  content: '';
}

/**
* Main content containers
* 1. Make the container full-width with a maximum width
* 2. Center it in the viewport
* 3. Leave some space on the edges, especially valuable on small screens
*/
.container {
  /* 1 */
  max-width: 1180px;

  /* 2 */
  @apply mx-auto;

  /* 3 */
  padding-left: 20px;

  /* 3 */
  padding-right: 20px;

  /* 1 */
  @apply w-full;
}

/**
* Hide text while making it readable for screen readers
* 1. Needed in WebKit-based browsers because of an implementation bug;
*    See: https://code.google.com/p/chromium/issues/detail?id=457146
*/
.hide-text {
  @apply overflow-hidden p-0 whitespace-nowrap;

  text-indent: 101%;
}

/**
* Hide element while making it readable for screen readers
* Shamelessly borrowed from HTML5Boilerplate:
* https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
*/
.visually-hidden {
  @apply border-0 h-px -m-px overflow-hidden p-0 absolute w-px;

  clip: rect(0 0 0 0);
}

.bg-pattern-color {
  @apply relative;

  > div {
    @apply relative z-10;
  }

  &::before,
  &::after {
    @apply bg-play-element-color bg-no-repeat bg-contain bg-right-top;
    @apply lg:content-[''] lg:absolute lg:top-0 lg:w-[250px] lg:h-[300px];
    @apply xl:w-[300px] xl:h-[350px];
  }

  &::before {
    @apply left-0 -scale-x-[1];
  }

  &::after {
    @apply right-0;
  }
}

.bg-pattern-gray {
  @apply relative;

  > div {
    @apply relative z-10;
  }

  &::before,
  &::after {
    @apply bg-play-element-gray bg-no-repeat bg-contain;
    @apply lg:content-[''] lg:absolute lg:top-0 lg:w-[250px] lg:h-[300px];
    @apply xl:w-[300px] xl:h-[350px];
  }

  &::before {
    @apply left-0 bg-left-top -scale-x-[1];
  }

  &::after {
    @apply right-0 bg-right-top;
  }
}
