a,
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
}

.rfksdk_product {
  width: 200px;
  display: inline-block;
  background-color: transparent;
  text-align: center;
  border: 1px solid transparent;
  vertical-align: top;
  position: relative;
  box-sizing: border-box;
}

.rfksdk_product__info {
  margin-top: 16px;
}

.rfksdk_product__name {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border: 0;
  overflow: hidden;
  height: 42px;
  margin-bottom: 0;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  margin-top: 8px;
  text-align: center;
  padding: 0 1px;
}

.rfksdk_product:hover .rfksdk_product__name {
  color: #939598;
}

.rfksdk_product__image {
  border-radius: 4px;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center top;
}

.rfksdk_product__wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.rfksdk_product__view-details {
  margin-top: 12px;
  border: 1px solid #000;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 48px;
  width: 91px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  line-height: 48px;
}

.rfksdk_product .rfksdk_product_discover {
  box-shadow: 0 0 6px 2px #cbcbcb;
  opacity: 0.7;
  width: 32px;
}

.rfksdk_product:hover .rfksdk_product_discover {
  padding: 0 8px 0 3px;
  width: 148px;
  box-shadow: 0 0 6px 2px #dcdcdc;
  opacity: 1;
}

.rfksdk_product .rfksdk_product_discover::after {
  content: "";
  width: 148px;
  display: none;
}

.rfksdk_product:hover .rfksdk_product_discover--expandable::after {
  content: "Discover Your Style";
  display: block;
}

.rfksdk-preview-search-container {
  width: 100%;
  position: absolute;
  top: 32px;
  z-index: 60000;
  left: 10px;
}

.rfksdk-preview-search-container .search__icon {
  padding-left: 5px;
  padding-top: 5px;
}

.rfksdk-preview-search-container input {
  width: 90%;
  border: none;
  padding: 8px 16px;
}

.rfksdk-preview-search-container__modal {
  width: 100%;
  border: solid 1px #e5e5e5;
  display: flex;
  z-index: 5000;
  position: relative;
  background: #fff;
  min-height: 300px;
}

.rfksdk-preview-search-container__modal .rightSection {
  width: 70%;
  border-left: 1px solid #e5e5e5;
}

.rfksdk-preview-search-container__modal .rightSection__title {
  padding-left: 10px;
}

.rfksdk_preview-search_product-list__item {
  display: inline-flex;
  width: 33%;
  text-align: center;
  margin-bottom: 10px;
  height: 340px;
}

.rfksdk-preview-search-container__modal .leftSection {
  width: 30%;
}

.rfksdk-preview-search-container__modal .leftSection .list-wrapper {
  width: 100%;
}

.rfksdk-preview-search-container__modal .leftSection .list-wrapper__title {
  padding-left: 10px;
}

.rfksdk-preview-search-container__modal .leftSection .list-wrapper__item {
  height: 40px;
  padding-left: 20px;
}

.rfksdk-preview-search-container__modal .rightSection .rfksdk_product__wrapper {
  display: inline-block;
  height: 60%;
}

.rfksdk-preview-search-container__modal .rightSection .rfksdk_product__info .rfksdk_product__view-details {
  height: 30px;
  width: 70px;
  font-size: 12px;
  line-height: 30px;
}

.rfksdk-preview-search-container__modal .rightSection .rfksdk_product__wrapper .rfksdk_discover_button {
  right: 24px;
  width: 32px;
}

.rfk-sp {
  width: 100%;
  z-index: 99999;
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
}

.rfk_sp .rfk_inputwrap {
  position: relative;
  margin: 0 auto;
  margin-top: 18px
}

.rfk_sp a,
.rfk_sp a:active,
.rfk_sp a:hover {
  text-decoration: none;
  color: inherit
}

.rfk_sp .rfk_facet_wrapper {
  position: relative;
  float: left;
  width: 25%;
  vertical-align: top;
  display: inline-block;
  margin-bottom: 10px;
  clear: left;
  box-sizing: border-box;
  z-index: 0;
  margin-top: 25px
}

.rfk_sp ul {
  list-style: none;
  padding: 0;
  margin: 0
}

.rfk_sp ul li {
  overflow: hidden;
  display: inline-flex;
}

.rfk_sp .rfk_drop_down {
  line-height: 30px;
  color: #323232 !important;
  position: relative;
  padding: 0 30px;
  padding-left: 10px;
  font-size: 14px
}

.rfk_sp .rfk_drop_down .rfk_title {
  padding-right: 5px;
  text-transform: uppercase;
  font-size: 14px
}

.rfk_sp .rfk_drop_down .rfk_list {
  display: inline-block;
  cursor: pointer;
  z-index: 999999
}

.rfk_sp .rfk_selected .rfk_price {
  display: none
}

.rfk_sp .rfk_selected .rfk_star {
  display: none
}

.rfk_sp .rfk_selected[data-type="price"] .rfk_price {
  display: inline
}

.rfk_sp .rfk_selected[data-type="ratings"] .rfk_star {
  display: inline
}

.rfk_sp .rfk_title {
  position: relative
}

.rfk_filterby .rfk_filters > .rfk_list {
  margin-bottom: 10px;
  background-color: #fff
}

.rfk_filterby .rfk_filters > .rfk_list::before {
  content: 'Your Selection:';
  margin-left: 15px;
  color: #323232;
  line-height: 32px;
  display: block;
  font-size: 12px
}

.rfk_sp_container .rfk_filterby {
  position: relative;
  clear: both;
  display: block;
  margin-left: 0.4%;
  border: 1px solid #ddd;
  border-bottom: 0;
  float: left;
  width: 100%;
  color: #39c;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 25px;
  background-color: #fff;
  font-size: 14px;
  margin-top: 0;
}

.rfk_sp_container.rfk_facets_selected .rfk_filters,
.rfk_sp_container.rfk_facets_selected .rfk_filters.rfk_ulli {
  background-color: #f4f4f4
}

.rfk_filters .rfk_title,
.rfk_filters.rfk_ulli > .rfk_title {
  margin-top: 0;
  color: #39c;
  text-transform: capitalize;
  height: 25px;
  font-weight: 500;
  line-height: 25px;
  font-size: 14px;
  margin-left: 0;
  border-bottom: 1px solid #ddd
}

.rfk_filters > div.rfk_title,
.rfk_filters.rfk_ulli > div.rfk_title {
  padding-left: 15px;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  height: 40px;
  line-height: 40px
}

li.rfk_selected div > label {
  padding-left: 30px;
  background: url(http://i.imgur.com/FWAVhK1.jpg) no-repeat;
  background-size: 13px 85px;
  height: 20px;
  text-overflow: ellipsis;
  background-position: 5px -41px;
  font-weight: bold;
  clear: right
}

.rfk_sp .rfk_drop_down .rfk_selection {
  display: block;
  width: inherit;
  padding: 1px 0
}

.rfk_sp .rfk_drop_down .rfk_selection.temp {
  color: #b6b4b9
}

.rfk_sp .rfk_drop_down .rfk_options {
  position: absolute;
  width: inherit;
  list-style: none;
  background: #f1f1f1;
  display: none
}

.rfk_sp .rfk_drop_down.rfk_visible .rfk_options {
  display: block;
  background: #fff;
  text-align: left;
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  border: 1px solid #ddd;
  left: -1px;
  width: 100%;
  top: 28px;
  box-sizing: content-box
}

.rfk_sp .rfk_drop_down.rfk_visible .rfk_options li {
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  white-space: nowrap;
  margin: 0 0.75em;
  display: block;
  color: #323232;
  padding-left: 10px
}

.rfk_sp .rfk_drop_down .rfk_options li.rfk_highlighted {
  background-image: -moz-linear-gradient(top, #08c, #0077b3);
  background-image: -o-linear-gradient(top, #08c, #0077b3);
  background-repeat: repeat-x;
  color: #FFF;
  background-color: #39c !important
}

.rfk_sp .rfk_ulli > ul {
  display: block;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.rfk_sp .rfk_ulli > ul > li.rfk_title,
.rfk_sp .rfk_filterby {
  vertical-align: top;
  display: inline-block;
  width: inherit;
  position: relative;
  font-weight: 700;
  margin: 0;
  border-bottom: 0;
  border-top: 0;
  min-width: 250px;
}

.facet > .rfk_title,
.rfk_sp .rfk_filterby {
  text-transform: uppercase;
  color: #636363;
  background: #fff;
  font-size: 14px
}

.rfk_sp .rfk_ulli > ul > li.rfk_title > span,
.rfk_sp .rfk_filterby {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0.25rem;
  color: #444;
  font-style: normal;
  line-height: 1.4;
  text-rendering: optimizeSpeed;
}

.rfk_sp .rfk_ulli > ul > li.rfk_title .rfk_list {
  display: block;
  width: inherit;
  cursor: pointer;
  overflow-y: auto;
  max-height: 185px;
  background: white;
  padding: 0;
  text-transform: none;
  max-width: 280px;
}

.rfk_sp .rfk_ulli > ul:first-child > li.rfk_title .rfk_list {
  display: block;
}

.rfk_sp .rfk_ulli > ul > li.rfk_title .rfk_list > li {
  display: block;
  cursor: pointer;
  line-height: 1;
  font-weight: normal !important;
  font-size: 14px;
  width: 100%;
  border: 0;
  color: #39c;
  text-decoration: none;
}

.rfk_sp .rfk_ulli > ul > li.rfk_title .rfk_list > li > div:hover {
  text-decoration: underline
}

.rfk_sp .rfk_ulli > ul > li.rfk_title .rfk_list > li div {
  display: flex;
}

.rfk_sp .rfk_ulli > ul > li.rfk_title .rfk_list > li label {
  font-size: 14px;
  margin-left: 8px;
  line-height: 20px;
  color: #000;
  margin-top: 3px;
}

.rfk_sp .rfk_ulli > ul > li.rfk_title .rfk_list > li input[type=checkbox] {
  height: 18px;
  width: 18px;
  border: 1px solid silver;
  border-radius: 0 !important;
  background-color: #fff;
  flex-shrink: 0;
}

.rfk_sp .rfk_drop_down .rfk_facets [data-type=price] {
  display: none
}

.rfk_sp .rfk_message {
  line-height: 38px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  margin-left: 1.5%;
  float: left;
  color: #636363;
  font-size: 24px;
  letter-spacing: 0
}

.rfk_sp .rfk_message .rfk_msg_noresult {
  font-weight: normal;
  display: none;
  font-size: 24px;
  text-decoration: none;
  text-transform: capitalize;
  text-align: left
}

.rfk_sp .rfk_sp_container[data-status="3"] .rfk_msg_noresult {
  display: none
}

.rfk_sp .rfk_message .rfk_msg_results {
  text-decoration: none;
  text-align: left;
  font-weight: normal;
  text-transform: capitalize;
  display: inline-block;
  font-size: 24px;
  margin-left: 20px;
  position: absolute;
}

.rfk_sp .rfk_facets {
  vertical-align: top;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-bottom: 0;
  border-top: 1px solid #ddd;
  margin-top: 94px;
}

.rfk_sp .rfk_facet_container .rfk_selection {
  cursor: pointer;
  display: none
}

.rfk_sp .rfk_facet_container .rfk_facets {
  list-style: none;
  background: #fff;
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  z-index: 99999;
  display: block;
  width: 100%;
  margin-left: 1px;
  position: static;
  margin-top: 0
}

.rfk_sp .rfk_drop_down .rfk_facets.rfk_show {
  display: block
}

.rfk_sp .rfk_facet_container .rfk_facets [data-type] {
  width: 100%;
  background: #fff
}

.rfk_sp .rfk_results {
  background-color: #fff;
  text-align: center;
  width: 75%;
  padding: 0 10px;
  padding-right: 0;
  display: inline-block;
  box-sizing: border-box;
  z-index: 99999;
  margin-bottom: 2%;
  margin-top: 20px
}

.rfk_sp .rfk_sp_container[data-ntp] .rfk_sort {
  float: right;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 0;
  background: #f4f4f4;
  font-size: 14px;
  color: #636363;
  letter-spacing: 0;
  margin-top: 35px;
  display: inline-block;
  text-transform: uppercase
}

.rfk_sp .rfk_page_info {
  display: inline-block;
  float: right
}

.rfk_sp .rfk_results .rfk_divul {
  float: left;
  width: 100%;
  text-align: left
}

.rfk_sp .rfk_results .rfk_divul.rfk_scroll {
  height: 500px;
}

.rfk_sp .rfk_products {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  min-height: 400px;
}

.rfk_products .rfk_product {
  display: inline-block;
  margin: 0 18px 18px 0;
}

.rfk_products .rfk_product .rfk_pimage {
  margin: auto;
  width: 100%;
  display: flex;
  vertical-align: middle;
  height: 200px;
  overflow: hidden
}

.rfk_sp_container .rfk_products .rfk_product:hover {
  border: none !important;
  height: 0
}

.rfk_products .rfk_product .rfk_pimage img {
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  height: auto;
  max-width: 100%;
  max-height: 200px;
  border: 1px solid #ededed;
}

.rfk_sp .rfk_products .rfk_pimage img:hover {
  border: 1px solid #39c !important
}

.rfk_sp .rfk_products .rfk_product .rfk_price {
  color: #323232;
  white-space: nowrap
}

.rfk_sp .rfk_products .rfk_product .rfk_price .final-price {
  display: none
}

.rfk_sp .rfk_products .rfk_product .rfk_price.rfk_discounted .original-price {
  text-decoration: line-through;
  color: #8c8c8c;
  margin-left: 5px
}

.rfk_sp .rfk_products .rfk_product .rfk_price.rfk_discounted .final-price {
  margin-left: 5px;
  color: #702b2e;
  display: inline-block;
}

.rfk_sp .rfk_products .rfk_product .rfk_name {
  line-height: 1;
  line-height: 1.5em;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #636363;
  margin: 0.5rem;
  min-height: 42px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-decoration: none
}

.rfk_sp .rfk_name:hover {
  color: #39c !important
}

.rfk_products .rfk_vm {
  text-transform: uppercase;
  height: 35px;
  width: 80%;
  line-height: 35px;
  margin: 0 auto;
  color: #FFF;
  margin-top: 10px;
  background-color: #39c;
  font-size: 13px
}

.rfk_sp .rfk_more:hover {
  text-decoration: underline
}

.rfk_sp .rfk_scroll_top {
  display: none
}

.rfk_sp .rfk_scroll_top span {
  display: none
}

.rfk-sp .rfk_scroll_top.rfk_visible .back-to-top-icon {
  display: block;
  width: 100px;
  height: 50px;
  background: url(http://s3.amazonaws.com/product.reflektion.com/css/image/DEMO1/arrow.png);
  background-size: 50px;
  background-repeat: no-repeat
}

.rfk_sp .rfk_scroll_top.rfk_visible {
  display: block !important;
  position: fixed;
  right: 0;
  bottom: 1px;
  width: 64px;
  padding: 1rem 0;
  text-align: center;
  border-right: 0;
  border-bottom: 0;
  z-index: 100000
}

.rfk_sp .rfk_selection::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4.5px 0 4.5px;
  content: ' ';
  position: absolute;
  top: 14px;
  right: 3px;
  background: url('http://s3.amazonaws.com/product.reflektion.com/css/image/BATA/up.png');
  background-repeat: no-repeat;
  background-position: 4px 2px;
  border: 0
}

.rfk_sp .rfk_drop_down.rfk_visible .rfk_selection:after {
  transform: rotate(180deg);
  background-position: 3px 12px
}

.rfk_sp .rfk_pginfo {
  font-size: 0.8em;
  color: #b1b1b1;
  text-align: left;
  float: left;
  display: block;
  text-transform: uppercase;
  margin-top: 11px;
  margin-bottom: 15px;
  border-radius: 0 !important;
  margin-left: 30px;
}

.rfk_sp:not(.rfk_facets_selected) .rfk_ftitle {
  display: none
}

.rfk_sp:not(.rfk_facets_selected) .rfk_filterby .rfk_filters > .rfk_list {
  height: 0;
  margin: 0
}

.rfk_sp:not(.rfk_facets_selected) .rfk_filterby .rfk_filters > .rfk_list::before {
  content: ''
}

.rfk_sp .rfk_ftitle {
  display: none
}

.rfk_sp:not(.rfk_facets_selected) .rfk_title,
.rfk_filters.rfk_ulli > .rfk_title,
.rfk_sp .rfk_filterby {
  border-bottom: 0
}

.rfk_sp .rfk_li {
  width: 100%;
  margin-left: 32px;
}

.rfk_sp .rfk_clear_filters {
  cursor: pointer;
  background-position: 0 5px;
  width: auto;
  padding-left: 18px;
  display: inline-block;
  color: #939598;
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: underline;
  right: 0;
  bottom: 8px;
  position: absolute;
}

.rfk_sp .rfk_visible .rfk_reload_page {
  display: none
}

.rfk_sp .rfk_reload_page {
  left: 180px;
  display: none
}

.rfk_sp .rfk_visible .rfk_wrapper {
  display: block
}

.rfk_sp .rfk_pimage .quick-look {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.65);
  color: #1a1a1a;
  padding-left: 14px;
  padding-right: 21px;
  padding-top: 5px
}

.rfk_sp .rfk_swatchwrapper {
  display: none
}

.rfk-sp .rfk_stitle {
  color: #458cca;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  font-size: 16px;
}

.rfk-sp .rfk_info {
  border-color: lightgrey;
  text-align: left;
  display: inline-block;
  width: 100%;
  float: left
}

.rfk-sp .rfk_helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle
}

.rfk_sp .rfk_ulli > ul > li.rfk_title .rfk_list.rfk_drop {
  position: static;
  width: 100%
}

.rfk_sp .rfk_ulli > ul > li.rfk_title > div[data-toggle="1"] .rfk_list.rfk_drop {
  display: block;
  position: absolute;
  width: 75%;
  border: 1px solid black;
  border-top: 0;
  left: 5px
}

.rfk_sp .rfk_ulli > ul > li.rfk_title .rfk_list.rfk_drop > li:first-child label:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4.5px 0 4.5px;
  border-color: #000 transparent transparent transparent;
  content: ' ';
  position: absolute;
  top: 7px;
  right: 11px
}

.rfk_sp .rfk_ulli > ul > li.rfk_title .rfk_list > li .rfk_highlighted label {
  text-decoration: underline
}

.rfk_sp .rfk_ulli > ul > li.rfk_title .rfk_list > li:first-child {
  border: 0
}

.rfk_sp .rfk_ulli > ul > li.rfk_title .rfk_list.rfk_drop > li label {
  padding-top: 0;
  padding-bottom: 0
}

.rfk_sp .rfk_ulli > ul > li .rfk_ttitle::before {
  position: absolute;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  top: 0;
  right: 0
}

.rfk_sp .rfk_ulli > ul > li .rfk_ttitle::after {
  content: " ";
  position: absolute;
  overflow: hidden;
  right: 7px;
  top: 17px;
  display: block;
  width: 10px;
  height: 3px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background: url('http://s3.amazonaws.com/product.reflektion.com/css/image/BATA/up.png');
  background-repeat: no-repeat;
  background-position: 4px 2px;
}

.rfk_sp .rfk_ulli > ul:first-child > li .rfk_ttitle[data-toggle="1"]::after {
  top: 14px;
}

.rfk_sp .rfk_ulli > ul > li .rfk_ttitle[data-toggle="1"]::after {
  background: url('http://s3.amazonaws.com/product.reflektion.com/css/image/BATA/up.png');
  background-repeat: no-repeat;
  background-position: 3px 10px;
  position: absolute;
  transform: rotate(180deg)
}

.rfk_sp .rfk_ulli > ul[data-type=price] > li .rfk_ttitle::after {
  display: none
}

.rfk_sp .rfk_ulli > ul > li .rfk_ttitle > span {
  color: #323232;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  font-weight: normal;
  max-width: 98%
}

.rfk_sp .rfk_ulli > ul[data-type=price] > li .rfk_ttitle > span {
  color: #323232;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  font-weight: normal;
  max-width: 98%
}

.rfk_sp .rfk_ulli > ul > li.rfk_ttitle {
  display: block
}

.rfk_sp .rfk_ulli > ul > li .rfk_ttitle[data-toggle="1"] + .rfk_list {
  display: none
}

.rfk_sp .rfk_ulli > ul:first-child > li .rfk_ttitle[data-toggle="1"] + .rfk_list {
  display: none
}

.rfk_sp .rfk_ulli > ul > li.rfk_title > .rfk_ttitle, .rfk_sp .rfk_filterby {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  display: block;
  padding: 0;
  text-transform: uppercase;
  background: 0;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding-top: 24px;
  margin-left: 0;
  padding-bottom: 24px;
}

.rfk_sp .rfk_ulli > ul > li.rfk_title .rfk_list > li.rfk_selected label:after {
  position: absolute;
  overflow: hidden;
  right: 5px;
  top: 5px;
  display: block;
  width: 16px;
  height: 16px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #000
}

.rfk-sp .rfk_selectv {
  cursor: pointer;
  width: 100%;
  background: #458cca;
  color: #fff;
  border: 0;
  padding: 0.25rem 0;
  margin-top: 20px;
  display: block;
  margin-bottom: 20px;
  text-align: center
}

.rfk-sp .rfk_cv {
  color: #458cca;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  font-size: 16px
}

.rfk_sp .rfk_pginfo .rfk_rfknum {
  font-size: 14px;
  text-transform: capitalize;
  display: inline
}

.rfk_sp .rfk_pginfo::before {
  font-size: 14px;
  content: '(';
  display: inline
}

.rfk_sp .rfk_pginfo::after {
  font-size: 14px;
  content: ')';
  display: inline
}

.rfk-sp .rfk_d1 span,
.rfk-sp .rfk_d2 span,
.rfk-sp .rfk_d3 span {
  display: block;
  text-transform: uppercase
}

.rfk-sp .rfk_d1 select,
.rfk-sp .rfk_d2 select,
.rfk-sp .rfk_d3 select {
  width: 100%
}

.rfk-sp .rfk_d1,
.rfk-sp .rfk_d2,
.rfk-sp .rfk_d3 {
  margin-top: 5px
}

.rfk_sp_container {
  display: block !important;
  width: 100%;
  margin: 0 auto;
}

.rfk-sp .rfk_product .rfk_price.rfk_discounted .original-price::before {
  content: "  reg.  ";
  color: #8c8c8c;
  display: none
}

.rfk_list li[data-type="diamond_clarity"] {
  float: left;
  border-left: 1px solid black !important
}

.rfk_list li[data-type="diamond_clarity"] div {
  padding: 0;
  border: 0
}

.rfk_rslider ~ .rfk_list {
  margin-left: 10px
}

.rfk-sp .rfk_min {
  float: left;
  margin-top: -2px;
  padding-top: -3px
}

.rfk-sp .rfk_max {
  float: right;
  margin-top: -2px
}

.rfk-sp .rfk_slabel,
.rfk-sp .rfk_rslider {
  width: 78%;
  margin: auto;
  padding-bottom: 30px;
  position: relative;
  display: block;
  background: #fff
}

.rfk-sp .back-to-top-icon {
  margin: auto;
  margin-bottom: 15px;
  display: none
}

.rfk-sp .rfk_ftitle {
  color: #39c;
  margin-left: 19%;
  width: 74.25%;
  border: 1px solid #ccc;
  border-bottom: 0
}

.rfk_sp .rfk_ftitle[data-toggle="1"]::after {
  content: " ";
  position: absolute;
  overflow: hidden;
  right: 15px;
  top: 17px;
  display: block;
  width: 10px;
  height: 3px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #000;
  background: url('https://www.reeds.com/images/icons/ui-icons-sprite.png');
  background-repeat: no-repeat;
  background-position: -648px 0
}

.rfk-sp .rfk_clear_filters:hover {
  text-decoration: none;
}

.rfk-sp .rfk_slabel {
  font-weight: normal;
  display: none
}

.rfk_sp .rfk_facet_container .rfk_facets ul.facet[data-hide="1"] {
  display: none
}

.rfk_sp .rfk_products .rfk_product:hover {
  overflow: visible;
  z-index: 99999;
  max-height: none;
  -webkit-line-clamp: initial
}

.rfk_sp .rfk_products .rfk_li:last-child .rfk_product:last-child:hover {
  height: auto
}

.rfk_sp .rfk_products .rfk_li:not(:last-child) .rfk_product:not(:last-child):hover .rfk_prodwrap {
  position: absolute;
  top: 0;
  left: 0
}

.rfk-sp .rfk_prodwrap {
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 2em;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  text-align: center;
  padding-bottom: 20px;
  width: 100%;
  z-index: 999999;
  background: #fff
}

.rfk-sp .rfk_oos {
  display: none;
  color: #702b2e
}

.rfk-sp .rfk_oos[rfk_stock="0"] {
  display: block
}

.rfk-sp .rfk_pimage .rfk_condition {
  display: none;
  width: 42px;
  height: 42px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0
}

.rfk_sp .rfk_ulli > ul:not([data-sli='0']) > li.rfk_title .rfk_ttitle:not([data-toggle]) + .rfk_list {
  display: block
}

.rfk_sp .rfk_ulli > ul:not([data-sli='0']) > li.rfk_title .rfk_ttitle[data-toggle="1"] + .rfk_list {
  display: none
}

.rfk_sp .rfk_ulli > ul:not([data-sli='0']) > li.rfk_title .rfk_ttitle[data-toggle="0"] + .rfk_list {
  display: block
}

.rfk_sp .rfk_ulli > ul > li.rfk_title .rfk_list > li label span {
  color: #888;
  margin-left: 5px;
}

.rfk_sp .rfk_ulli > ul[data-type=price] > li .rfk_ttitle[data-toggle="1"] + .rfk_rslider {
  display: none
}

.rfk_sp .rfk_ulli > ul[data-type=color] .rfk_ttitle {
  border-top: 1px solid #ddd !important
}

.rfk_sp .rfk_ulli > ul[data-type] > li .rfk_ttitle::after,
.rfk_sp .rfk_ulli > ul[data-type=price] > li .rfk_ttitle::after {
  content: " ";
  position: absolute;
  overflow: hidden;
  right: 7px;
  top: 17px;
  display: block;
  width: 10px;
  height: 3px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background: url('http://s3.amazonaws.com/product.reflektion.com/css/image/BATA/up.png');
  background-repeat: no-repeat;
  background-position: 4px 12px;
  transform: rotate(180deg);
}

.rfk_sp .rfk_ulli > ul[data-type] > li .rfk_ttitle[data-toggle="1"]::after,
.rfk_sp .rfk_ulli > ul[data-type=price] > li .rfk_ttitle[data-toggle="1"]::after {
  background: url('http://s3.amazonaws.com/product.reflektion.com/css/image/BATA/up.png');
  background-repeat: no-repeat;
  background-position: 3px 4px;
  position: absolute;
  transform: rotate(360deg);
}

.rfk_sp .rfk_ulli > ul[data-type=price] > li .rfk_ttitle:not([data-toggle="0"]) {
  border-bottom: 0;
}

.rfk-sp .rfk_facet_wrapper .rfk_fb {
  position: relative;
  display: none;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  border: 0;
  border: 1px solid #ddd;
  border-bottom: 1px;
  margin-left: 1px;
  width: 100%;
  padding-left: 7px;
  color: #39c
}

.rfk_sp_container.rfk_no_result .rfk-sp .rfk_facet_wrapper {
  display: none !important
}

.rfk_sp .rfk_ulli > ul[data-type=price] > li .rfk_ttitle[data-toggle="1"] {
  margin-bottom: 0
}

.rfk_sp_container.rfk_no_result .rfk_divul {
  display: none
}

.rfk_sp_container.rfk_no_result + .rfk_rg {
  display: block !important
}

.rfk-sp .rfk_facet_wrapper {
  width: 25%
}

.rfk_sp .rfk_divsi {
  width: 100%;
  float: right
}

.rfk_sp_container.rfk_no_result .rfk_info {
  display: none
}

.rfk_sp_container.rfk_no_result:not(.rfk_facets_selected) .rfk_facet_wrapper {
  display: none
}

.rfk_sp_container.rfk_no_result:not(.rfk_facets_selected) + .rfk_rg {
  float: none;
  width: 100%
}

.rfk_sp_container.rfk_no_result:not(.rfk_facets_selected) .rfk_msg_noresult {
  margin-left: 35px
}

.rfk_sp_container.rfk_no_result .rfk_msg_noresult {
  display: block !important;
  position: absolute;
  height: 50px
}

.rfk_sp_results_info {
  margin-right: 32px;
  margin-bottom: 12px;
}

.rfk_sp_results_info span {
  margin-right: 4px;
}

.rfk_sp .rfk_title[data-toggle="0"] .rfk_list {
  display: none !important;
}

.rfk_sp_product {
  width: 224px !important;
}

.rfk_sp_controls {
  width: 100%;
  display: inline-flex;
  padding: 22px 0;
}

.rfk_sp_controls__control {
  margin-right: 20px;
}

.rfk_sp_controls__control label {
  margin-right: 4px;
}

.rfk_sp .rfk_filterby {
  border-bottom: 1px solid #ddd;
}

.rfk_sp .rfk_facets__clear {
  position: relative;
  cursor: pointer;
}

.rfk_msg_prod {
  text-transform: uppercase;
  color: #4d4d4f;
  font-size: 28px;
  line-height: 32px;
}

.rfk-full-page-search {
  margin: 0 auto;
  padding: 20px 0;
}

.rfksdk_price {
  font-size: 14px;
  box-sizing: content-box;
  color: #828282;
}

.rfksdk_price--discounted .rfksdk_price__original {
  text-decoration: line-through;
  display: inline-block;
  color: #666;
}
