a,
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
}

.rfksdk_product:hover .rfksdk_product__name {
  color: #939598;
}

.rfksdk_product .rfksdk_product_discover {
  box-shadow: 0 0 6px 2px #cbcbcb;
  opacity: 0.7;
  width: 32px;
}

.rfksdk_product:hover .rfksdk_product_discover {
  padding: 0 8px 0 3px;
  width: 148px;
  box-shadow: 0 0 6px 2px #dcdcdc;
  opacity: 1;
}

.rfksdk_product .rfksdk_product_discover::after {
  content: "";
  width: 148px;
  display: none;
}

.rfksdk_product:hover .rfksdk_product_discover--expandable::after {
  content: "Discover Your Style";
  display: block;
}

div[data-rfkid="hs_ps"] input {
  width: 100%;
  border: none;
}

.rfksdk-preview-search-container .search__icon {
  padding-left: 5px;
  padding-top: 5px;
}

.rfksdk-preview-search-container input {
  width: 90%;
  border: none;
  padding: 8px 16px;
}

.rfksdk-preview-search-container {
  z-index: 60000;

  @apply absolute w-screen top-8 -left-5;
  @apply lg:left-5;

  @media (min-width: 1024px) {
    width: 95%;
  }

  .rfksdk-preview-search-container__modal {
    border: solid 1px #e5e5e5;
    z-index: 5000;
    min-height: 300px;

    @apply relative bg-gray-light w-full flex flex-row flex-wrap;
    @apply lg:flex-initial lg:pt-3;

    .rightSection {
      @apply w-full;
      @apply lg:w-4/5;

      .rightSection__title {
        @apply pl-3 mb-3 font-bold;
      }

      button.rfksdk_preview-search_product_view-all-btn {
        @apply absolute right-3 top-36 text-blue font-bold;
        @apply lg:top-2;
      }

      ul.rfksdk_preview-search_product-list {
        @apply flex flex-wrap mx-3 justify-between;

        li.rfksdk_preview-search_product-list__item {
          width: 49%;

          @media (min-width: 1024px) {
            width: 32%;
          }

          @apply h-60 text-center mb-3;
          @apply sm:h-96;
          @apply lg:h-80;

          .rfksdk_product {
            @apply w-full h-full inline-block text-center relative align-top bg-transparent border border-solid border-transparent;

            .rfksdk_product__wrapper {
              @apply relative h-2/3 w-full inline-block border border-solid border-gray;

              .rfksdk_product__image {
                @apply relative inline-block max-w-full max-h-full;
              }
            }

            .rfksdk_product__info {
              @apply bg-white h-1/3 pt-2;

              .rfksdk_product__name {
                @apply font-bold border-0 overflow-hidden text-black leading-5 text-left px-1 h-10;
              }

              .rfksdk_product__brand {
                @apply hidden;
                @apply sm:block sm:text-left sm:px-1;
              }

              .rfksdk_product__price {
                @apply text-blue font-bold absolute bottom-1 right-2;
              }
            }
          }
        }
      }
    }

    .leftSection {
      @apply w-full;
      @apply lg:w-1/5;

      .list-wrapper {
        @apply w-full;
      }

      .list-wrapper__title {
        @apply font-bold pl-3;
      }

      .list-wrapper__item {
        @apply h-10 pl-3;
      }
    }
  }
}

.rfksdk-preview-search-container__modal .rightSection .rfksdk_product__wrapper .rfksdk_discover_button {
  right: 24px;
  width: 32px;
}
