.breadcrumb {
  @apply max-w-screen-2xl mx-auto overflow-hidden bg-transparent p-7 capitalize;

  li {
    @apply inline;

    padding-left: 5px;

    a {
      @apply text-sm;
    }
  }

  li:not(:first-of-type)::before {
    content: '> ';
    padding-left: 5px;
    padding-right: 3px;
    font-weight: normal;
  }

  .active {
    @apply font-bold;
  }
}
