.section__full-image--offer {
  @media (min-width: 768px) {
    background-image: url(../../img/offer-background.jpg);
  }
}

.section__full-image--speaker {
  @media (min-width: 768px) {
    background-image: url(../../img/speaker-chris-williams-background.jpg);
  }
}

.section__full-image--map {
  @apply h-96;

  background-image: url(../../img/play-venue-map.jpg);
}
