.section__news--list {
  .container {
    @apply max-w-screen-2xl mx-auto box-border overflow-hidden;

    .content {
      @apply p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5;

      .news {
        @apply rounded overflow-hidden bg-white;

        .text-container {
          @apply px-6 py-4;

          .news-title {
            @apply font-bold text-base mb-2 h-20 uppercase;
          }

          .news-date {
            @apply text-gray-dark text-xs pb-3;
          }

          .news-excerpt {
            @apply h-36 overflow-hidden;
          }

          p {
            @apply pt-5;
          }
        }

        .button-container {
          @apply px-6 pt-4 pb-10;
        }
      }
    }
  }
}
