.section__news__grid {
  @apply grid grid-cols-1 md:grid-cols-3 w-full gap-2.5 my-5;
}

.section__news__grid__tweet {
  @apply col-span-1;

  border: 1px solid #ccc;
  background-color: #f7f7f7;
}

.section__news__grid__tweet__img {
  width: 100%;
}

.section__news__grid__tweet__content {
  padding: 10px;
}

.section__news__grid__tweet__content p {
  margin: 5px 0;
}

.section__news__grid__tweet__content__profile {
  display: flex;
  align-items: center;
}

.section__news__grid__tweet__content__profile__pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0 0 2px rgba(23, 23, 23, 0.2);
}

.section__news__grid__tweet__content__tweet {
  margin-top: 20px;
}

.section__news__grid__tweet__content__comments {
  color: #b3b3b3;
}

.section__news__grid__news {
  @apply col-span-1 md:col-span-2;
}

.section__news__grid__news__item {
  @apply w-full border shadow content-center p-5 align-middle text-blue-light;

  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.2;
  font-size: 1.25em;
  font-weight: 600;
  background-color: #fff;
  background-size: cover;
  cursor: pointer;

  a:hover,
  a:focus,
  a:active {
    color: inherit;
  }
}

.section__news__grid__news__item:hover {
  color: #f7f7f7;
  background-color: #006ef9;
}

.news__item {
  width: calc(50% - 10px);
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 5%;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  font-size: var(--fs--medium);
  line-height: 1.35;
  border: 1px solid var(--gray-light);
}

.news__item--1 {
  background-color: var(--yellow-light);
  color: var(--black);
}

.news__item--1:hover {
  background-color: var(--yellow);
  color: var(--black);
}

.news__item--2 {
  background-color: var(--pink-light);
  color: var(--black);
}

.news__item--2:hover {
  background-color: var(--pink);
  color: var(--pink-light);
}

.news__item--3 {
  background-color: var(--blue-light);
  color: var(--black);
}

.news__item--3:hover {
  background-color: var(--blue);
  color: var(--blue-light);
}

.news__item--4 {
  background-color: var(--orange-light);
  color: var(--black);
}

.news__item--4:hover {
  background-color: var(--orange);
  color: var(--orange-light);
}
