.section__news__grid {
  @apply grid grid-cols-1 w-full gap-2.5 my-5;
  @apply md:grid-cols-3;

  &__tweet {
    @apply col-span-1 border border-solid border-gray bg-white;

    &__img {
      @apply w-full;
    }

    &__content {
      padding: 10px;

      p {
        margin: 5px 0;
      }

      &__profile {
        @apply flex items-center;

        &__pic {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin-right: 10px;
          box-shadow: 0 0 2px rgba(23, 23, 23, 0.2);
        }
      }

      &__tweet {
        margin-top: 20px;
      }

      &__comments {
        @apply text-gray-dark;
      }
    }
  }

  &__news {
    @apply col-span-1;
    @apply md:col-span-2;

    &__grid {
      @apply grid grid-cols-2 gap-2.5 h-full;
    }

    &__item {
      @apply w-full border shadow content-center p-5 align-middle text-blue-light overflow-hidden items-center justify-center text-center box-border no-underline bg-white-light bg-cover cursor-pointer;

      line-height: 1.2;
      font-size: 1.25em;
      font-weight: 600;

      :hover {
        @apply text-white bg-blue;
      }

      a:hover,
      a:focus,
      a:active {
        color: inherit;
      }
    }
  }
}

/* Does not seem to be used */

.news__item {
  width: calc(50% - 10px);
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 5%;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  font-size: var(--fs--medium);
  line-height: 1.35;
  border: 1px solid var(--gray-light);
}

.news__item--1 {
  background-color: var(--yellow-light);
  color: var(--black);
}

.news__item--1:hover {
  background-color: var(--yellow);
  color: var(--black);
}

.news__item--2 {
  background-color: var(--pink-light);
  color: var(--black);
}

.news__item--2:hover {
  background-color: var(--pink);
  color: var(--pink-light);
}

.news__item--3 {
  background-color: var(--blue-light);
  color: var(--black);
}

.news__item--3:hover {
  background-color: var(--blue);
  color: var(--blue-light);
}

.news__item--4 {
  background-color: var(--orange-light);
  color: var(--black);
}

.news__item--4:hover {
  background-color: var(--orange);
  color: var(--orange-light);
}
