.product-detail {
  @apply my-0 box-border;

  .product-detail-hero {
    @apply grid gap-10;
    @apply sm:grid-cols-2;
    @apply md:grid-cols-3;

    .product-image {
      @apply sm:col-span-1;
      @apply md:col-span-2;

      &-main {
        @apply w-full;
      }

      &-thumbnails {
        @apply m-auto p-2 h-24;
      }
    }

    .product-description {
      @apply w-full space-y-3 text-sm pr-10 p-5;

      .product-variant-selector {
        @apply inline-flex justify-between border border-white-dark shadow-sm px-4 py-1 bg-white-light text-sm font-medium text-black-lightest w-full;
        @apply hover:bg-gray-lighter;
        @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-lighter focus:ring-blue-lightest;

        .product-variant-name {
          @apply w-5 text-left;
        }

        .product-variant-warning {
          @apply w-1 text-yellow-dark;
        }

        img {
          @apply h-5 w-5 text-right;
        }
      }

      hr {
        @apply border-gray;
      }

      .product-similar-items .product-warning {
        @apply text-yellow-dark;
      }
    }
  }

  .product-info {
    @apply w-full;

    &-header {
      @apply mx-auto gap-5 w-2/3 grid grid-flow-col grid-cols-5 text-center p-10 uppercase;

      svg {
        @apply text-blue;

        margin: 10px;
      }
    }

    .product-specs {
      @apply bg-gray-light p-5 text-sm space-y-2;
      @apply md:p-20;

      &-section-title {
        @apply text-lg uppercase;
      }

      &-section-subtitle {
        @apply font-bold;
      }
    }

    .product-highlights {
      @apply bg-black-light text-white p-5 text-sm space-y-2;
      @apply md:p-20;

      &-row {
        @apply grid grid-cols-6 w-full border-white	border-b-2 p-1;

        :nth-child(odd) {
          @apply font-bold;
        }

        :nth-child(even) {
          @apply col-span-2;
        }
      }

      &-notice {
        @apply p-10 mx-auto w-full text-center;
      }
    }

    .product-geometry {
      @apply p-5 text-sm space-y-5;
      @apply md:p-20;
    }

    .product-other {
      @apply p-5 text-sm text-left space-y-5;
      @apply md:p-20;

      &-grid {
        @apply grid grid-cols-1 gap-2;
        @apply sm:grid-cols-2;
        @apply md:grid-cols-3;
        @apply lg:grid-cols-4;
        @apply xl:grid-cols-5;

        &-product {
          @apply rounded overflow-hidden;

          img {
            @apply w-full border border-gray-dark h-40;
          }

          &-details {
            @apply px-6 py-4;

            &-text {
              @apply text-black-lightest text-base text-center;
            }
          }
        }
      }
    }

    .product-events {
      @apply p-5 text-sm text-left space-y-5;
      @apply md:p-20;

      &-grid {
        @apply grid grid-cols-1 gap-2 text-sm;
        @apply sm:grid-cols-2;
        @apply md:grid-cols-3;
        @apply lg:grid-cols-4;
        @apply xl:grid-cols-5;

        &-event {
          @apply overflow-hidden;

          &-image {
            @apply w-full h-40;
          }

          &-details {
            @apply px-6 py-4;

            &-text {
              @apply text-black-lightest text-center;
            }
          }
        }
      }
    }
  }
}
