.item-grid.sessions-grid {
  @apply max-w-screen-2xl mx-auto box-border overflow-hidden;

  .grid-content {
    @apply sm:grid-cols-1;
    @apply md:grid-cols-2;
    @apply lg:grid-cols-3;
    @apply xl:grid-cols-4;

    .grid-item {
      @apply bg-white mx-auto w-full;

      .image-hover-zoom {
        @apply overflow-hidden;
      }

      img {
        @apply transform scale-100 duration-300 ease-in-out;
      }

      &:hover {
        border: 1px solid gray;

        img {
          @apply transform scale-110 duration-300  ease-in-out;
        }
      }

      .item-details {
        @apply space-y-3;

        .item-title {
          @apply uppercase text-lg;
          @apply lg:text-base;
        }

        p {
          @apply text-base;
          @apply lg:text-sm;
          @apply xl:text-xs;
        }

        .speaker-name {
          @apply uppercase;
        }
      }
    }
  }
}
