div.shop-container {
  /* Featured products */

  .section {
    @apply py-6;
  }

  .section.section-featured-products {
    background: #ff8d00;
  }

  div#featured-products-container {
    display: flex;
    flex-direction: row;
    flex: 1 2 auto;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  div#search-input-container {
    width: 100%;
    position: relative;
  }

  div#products-left-container > h2 {
    font-size: 30px;
    font-weight: bold;
  }

  div#products-left-container > p {
    width: 316px;
  }

  div#products-right-container {
    display: flex;
  }

  div#products-left-container > h4 {
    color: white;
    font-size: 14px;
  }

  .product {
    margin: 0 20px;
  }

  div.product-details > b {
    font-size: 16px;
  }

  div.product-details > p {
    font-size: 16px;
  }

  /* Search bar */

  input#search-input {
    border: 2px solid #3c3c3c;
    width: 100%;
  }

  input#search-input::placeholder {
    padding-left: 51px;
  }

  #search-icon {
    position: absolute;
    left: 17px;
    top: 7px;
  }

  div.shop-by-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    font-size: 25px;
  }

  div.shop-by-container .item-name {
    margin: 10px 0 30px 0;
  }

  div.shop-by-container.shop-by-vendor-container {
    color: #3c3c3c;

    .item-name {
      @apply text-center mt-0;
    }
  }

  /* popup */

  div#popup-container {
    width: 100%;
    position: relative;
  }

  div#reflektion-container {
    position: absolute;
    background: #e5e5e5;
    width: 100%;
    padding: 30px 60px;
    font-size: 16px;
    display: flex;
  }

  div#reflektion-left-container {
    flex: 1 0 30%;
  }

  div#reflektion-left-container li:first-child {
    font-weight: bold;
  }

  div#reflektion-right-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-height: 770px;
    overflow-y: scroll;
    box-shadow: inset #0000001f -1px 0 3px 2px;
    padding: 20px 0;
  }

  div#reflektion-right-container > .product {
    margin-bottom: 52px;
  }
}
