.section__speakers__grid {
  @apply flex items-center justify-center flex-wrap mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-5;

  margin-top: 20px;
  margin-bottom: 40px;

  &__speaker {
    @apply box-border col-span-1;

    width: 100px;
    min-width: 260px;
    padding: 10px;
    margin: 10px;

    &:hover img {
      box-shadow: 0 0 10px rgba(23, 23, 23, 0.45);
    }

    img {
      @apply w-full;
    }

    .speaker__name {
      @apply mx-auto text-center font-semibold text-black;

      margin-top: 5px;
      margin-bottom: 5px;
    }

    .speaker__role {
      @apply mx-auto text-center font-medium uppercase text-blue;

      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 0.8em;
      letter-spacing: 1px;
    }
  }
}
