.section__tickets {
  @apply grid grid-cols-1  gap-14 py-14;
  @apply md:grid-cols-2;
  @apply lg:grid-cols-3;

  .ticket-grid-block {
    @apply bg-white-lighter px-3 text-center space-y-6 align-bottom;
    @apply lg:px-10;

    .slanted-spacer {
      @apply w-full;

      height: 20px;
    }

    .ticket-name {
      @apply text-4xl font-semibold;
    }

    .ticket-subtitle {
      @apply text-xl py-2 font-semibold;
    }

    .ticket-price {
      @apply text-6xl font-semibold;
    }

    ul {
      @apply py-5 text-base text-left list-none;

      padding-left: 10px;
      padding-right: 10px;

      li {
        @apply my-4;

        svg {
          @apply mr-3;
        }
      }
    }

    .ticket-button-container {
      @apply px-6 pt-4 pb-10;

      a {
        @apply font-bold;
      }
    }

    &--pink {
      .slanted-spacer {
        @apply bg-pink;
      }

      .ticket-name,
      .ticket-price,
      ul li svg {
        @apply text-pink;
      }
    }

    &--orange {
      .slanted-spacer {
        @apply bg-orange;
      }

      .ticket-name,
      .ticket-price,
      ul li svg {
        @apply text-orange;
      }
    }

    &--blue {
      .slanted-spacer {
        @apply bg-blue;
      }

      .ticket-name,
      .ticket-price,
      ul li svg {
        @apply text-blue;
      }
    }
  }
}
