@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Sitecore styles */

  a[target='_blank']::after {
    content: '\1F5D7';
  }

  /*
    Hides Sitecore Experience Editor markup,
    if you run the app in connected mode while the Sitecore cookies
    are set to edit mode.
  */
  .scChromeData,
  .scpm {
    display: none !important;
  }

  /* Mockup base styles */

  /**
  * Set up a decent box model on the root element
  */
  html {
    @apply box-border;
  }

  /**
  * Make all elements from the DOM inherit from the parent box-sizing
  * Since `*` has a specificity of 0, it does not override the `html` value
  * making all elements inheriting from the root box-sizing value
  * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
  */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  /**
  * Basic styles for links
  */
  a {
    @apply no-underline;

    color: #006ef9;
  }

  a:hover,
  a:active,
  a:focus {
    @apply text-black;
  }

  /**
  * Basic styles for sections
  */

  /**
  * Basic typography style for copy text
  */
  body {
    @apply font-normal;

    font-family: 'Source Sans Pro', sans-serif;
  }

  html,
  body {
    font-size: 16px !important;
  }

  h1 {
    font-size: 1.602em;
  }

  h2 {
    font-size: 1.424em;
  }

  h3 {
    font-size: 1.266em;
  }

  h4 {
    font-size: 1.125em;
  }

  h5 {
    font-size: 0.889em;
  }

  h6 {
    font-size: 0.79em;
  }

  .display-1 {
    font-size: 3.906em;
  }

  .display-2 {
    font-size: 3.125em;
  }

  .display-3 {
    font-size: 2.5em;
  }

  .display-4 {
    font-size: 2em;
  }

  @media (min-width: 48em) {
    h1 {
      font-size: 2.441em;
    }

    h2 {
      font-size: 1.953em;
    }

    h3 {
      font-size: 1.563em;
    }

    h4 {
      font-size: 1.25em;
    }

    .display-1 {
      font-size: 6em;
    }

    .display-2 {
      font-size: 5.5em;
    }

    .display-3 {
      font-size: 4.5em;
    }

    .display-4 {
      font-size: 3.5em;
    }

    .medium {
      font-size: 2em;
    }

    .small {
      font-size: 0.8em;
    }
  }

  @media (min-width: 62em) {
    html,
    body {
      font-size: 18px !important;
    }
  }

  @media (min-width: 75em) {
    html,
    body {
      font-size: 20px !important;
    }
  }
}

/* Mockup classes */

/**
  * Clear inner floats
  */
.clearfix::after {
  @apply clear-both table;

  content: '';
}

/**
  * Main content containers
  * 1. Make the container full-width with a maximum width
  * 2. Center it in the viewport
  * 3. Leave some space on the edges, especially valuable on small screens
  */
.container {
  /* 1 */
  max-width: 1180px;

  /* 2 */
  @apply mx-auto;

  /* 3 */
  padding-left: 20px;

  /* 3 */
  padding-right: 20px;

  /* 1 */
  @apply w-full;
}

/**
  * Hide text while making it readable for screen readers
  * 1. Needed in WebKit-based browsers because of an implementation bug;
  *    See: https://code.google.com/p/chromium/issues/detail?id=457146
  */
.hide-text {
  @apply overflow-hidden p-0 whitespace-nowrap;

  text-indent: 101%;
}

/**
  * Hide element while making it readable for screen readers
  * Shamelessly borrowed from HTML5Boilerplate:
  * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
  */
.visually-hidden {
  @apply border-0 h-px -m-px overflow-hidden p-0 absolute w-px;

  clip: rect(0 0 0 0);
}

/************************************ */

/* Header (menu) */
.header {
  @apply fixed top-0 w-full;

  z-index: 9999;
}

.header__eyebrow {
  @apply bg-blue;

  height: 30px;
}

.header__eyebrow__content {
  display: -webkit-flex;

  @apply w-full my-0 mx-auto box-border flex items-center justify-end h-full;

  width: 100%;
  max-width: 1440px;
  padding: 0 3%;
}

.header__eyebrow__content a:not(:last-child) {
  margin-right: 0.75em;
}

.header__container {
  @apply bg-black bg-gradient-to-l from-black to-black-light;

  box-shadow: 0 1px 4px 0 rgba(23, 23, 23, 0.3);
}

.header__container__content {
  @apply w-full my-0 mx-auto box-border flex items-center justify-between;

  max-width: 1440px;
  padding: 0 3%;
  height: 72px;
}

.header__container__content__menu a:not(:last-child) {
  margin-right: 0.75em;
}

.header a {
  @apply text-white;
}

.header a:hover {
  @apply text-yellow;
}

.header__container__content__logo,
.header__container__content__logo img {
  height: 46px;
}

/* Tailwind-ified to this point */

/**************************************** */

/* Footer */
.footer {
  background: linear-gradient(135deg, #232323, #0a0a0a);
}

.footer__content {
  width: 100%;
  max-width: 1440px;
  padding: 0 3%;
  margin: 0 auto;
  box-sizing: border-box;
}

.footer__content__banner {
  padding: 1.5em 0;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__content__banner a {
  display: flex;
}

.footer__content__banner a img {
  height: 42px;
}

.footer__content__footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  padding: 3em 0;
  border-top: 1px solid #ffd31c;
  border-bottom: 1px solid #ffd31c;
}

.footer__content__footer__col {
  list-style-type: none;
  padding: 0;
  margin: 0 0 3em;
  min-width: 200px;
}

.footer__content__footer__col li {
  margin: 10px 0;
}

.footer__content__footer__col li:first-child {
  color: #ffd31c;
  font-weight: 600;
  margin: 0 0 20px;
}

.footer__content__footer__col li:last-child {
  margin-bottom: 0;
}

.footer__content__footer__col a {
  color: #f7f7f7;
  text-decoration: none;
}

.footer__content__footer__col a:hover {
  color: #ffd31c;
}

.footer__content__legal {
  color: #f7f7f7;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.footer__content__legal__links {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__content__legal a {
  color: #f7f7f7;
  text-decoration: none;
  margin-left: 30px;
}

.footer__content__legal a:hover {
  color: #ffd31c;
}

.section__hero {
  margin: 0;
  margin-top: 102px;
  background-image: url('img/home-hero-background.jpg');
  background-color: #232323;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.section__hero__container {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 1440px;
  padding: 0 3%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

.section__hero__container__content {
  width: 100%;
  max-width: 600px;
  background: #3c3c3c;
  background: linear-gradient(135deg, #3c3c3c, #232323);
  box-shadow: 0 0 20px #232323;
}

.section__hero__container__content__text {
  padding: 6%;
}

.section__hero__container__content img {
  width: 240px;
}

.section__hero__container__content .banner__title__eyebrow {
  color: #f7f7f7;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
}

.section__hero__container__content .banner__title__title {
  color: #f7f7f7;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3em;
  margin: 0;
}

.section__hero__container__content .banner__title__sub-title {
  color: #ffd31c;
  font-weight: 600;
  font-size: 1.5em;
}

.section__hero__container__content .banner__title__p {
  color: #f7f7f7;
  font-size: 1.25em;
  line-height: 1.4;
}

.section {
  padding: 5em 0;
}

.section__content {
  width: 100%;
  max-width: 1440px;
  padding: 0 3%;
  margin: 0 auto;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section__content__title {
  text-transform: uppercase;
  font-size: 3em;
  margin: 0;
}

.section__content__title--light {
  color: #006ef9;
}

.section__content__title--dark {
  color: #ffd31c;
}

.section__content__p {
  max-width: 40em;
  line-height: 1.4;
  text-align: center;
  color: #232323;
}

.section__content__p--dark {
  color: #f7f7f7;
}

.section--3-col {
  background: url(img/background-pattern-light.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section--3-col__content {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.section--3-col__content__items {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 100%;
}

.section--3-col__content__items .item {
  margin: 2em 3em;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section--3-col__content__items .item img {
  max-height: 150px;
}

.section--3-col__content__items .item p {
  color: #232323;
  font-weight: 600;
  margin: 1.5em 0 0.5em;
}

.section--3-col__content__items .item a {
  color: #006ef9;
  text-decoration: none;
  font-weight: 500;
}

.section--3-col__content__items .item a:hover {
  color: #232323;
}

.section__speakers {
  background: url(img/background-pattern-light.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section__speakers__grid {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 20px auto 40px;
}

.section__speakers__grid__speaker {
  width: 100px;
  min-width: 220px;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

.section__speakers__grid__speaker:hover img {
  box-shadow: 0 0 10px rgba(23, 23, 23, 0.45);
}

.section__speakers__grid__speaker img {
  width: 100%;
}

.section__speakers__grid__speaker .speaker__name {
  margin: 5px auto;
  text-align: center;
  font-weight: 600;
  color: #232323;
}

.section__speakers__grid__speaker .speaker__role {
  margin: 5px auto;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  color: #006ef9;
}

.section__sponsors {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(img/background-pattern-light.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section__sponsors__grid {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto 1em;
}

.section__sponsors__grid img {
  width: 180px;
  margin: 1em;
}

.section__sponsors__grid img:hover {
  filter: invert(39%) sepia(72%) saturate(4583%) hue-rotate(207deg) brightness(109%) contrast(101%);
}

.section__news {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(img/background-pattern-dark.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section__news__grid {
  display: flex;
  margin: 1em auto 2em;
}

.section__news__grid__tweet {
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  width: 30%;
  margin: 5px;
  padding: 5px;
}

.section__news__grid__tweet__img {
  max-width: 100%;
}

.section__news__grid__tweet__content {
  padding: 10px;
}

.section__news__grid__tweet__content p {
  margin: 5px 0;
}

.section__news__grid__tweet__content__profile {
  display: flex;
  align-items: center;
}

.section__news__grid__tweet__content__profile__pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0 0 2px rgba(23, 23, 23, 0.2);
}

.section__news__grid__tweet__content__tweet {
  margin-top: 20px;
}

.section__news__grid__tweet__content__comments {
  color: #b3b3b3;
}

.section__news__grid__news {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.section__news__grid__news__item {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(50% - 10px);
  margin: 5px;
  text-align: center;
  padding: 20px 5%;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.2;
  font-size: 1.25em;
  font-weight: 600;
  border-radius: 5px;
  color: #006ef9;
  background-color: #fff;
}

.section__news__grid__news__item:hover {
  color: #f7f7f7;
  background-color: #006ef9;
}

.news__item {
  width: calc(50% - 10px);
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 5%;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  font-size: var(--fs--medium);
  line-height: 1.35;
  border-radius: 5px;
  border: 1px solid var(--gray-light);
}

.news__item--1 {
  background-color: var(--yellow-light);
  color: var(--black);
}

.news__item--1:hover {
  background-color: var(--yellow);
  color: var(--black);
}

.news__item--2 {
  background-color: var(--pink-light);
  color: var(--black);
}

.news__item--2:hover {
  background-color: var(--pink);
  color: var(--pink-light);
}

.news__item--3 {
  background-color: var(--blue-light);
  color: var(--black);
}

.news__item--3:hover {
  background-color: var(--blue);
  color: var(--blue-light);
}

.news__item--4 {
  background-color: var(--orange-light);
  color: var(--black);
}

.news__item--4:hover {
  background-color: var(--orange);
  color: var(--orange-light);
}

.section__products {
  background: url(img/background-pattern-light.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section__products__content {
  width: 100%;
  max-width: 1440px;
  padding: 0 3%;
  margin: 0 auto;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section__products__grid {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em auto 2em;
}

.section__products__grid__product {
  width: 350px;
  margin: 5px;
  position: relative;
}

.section__products__grid__product figure img {
  width: 100%;
}

.product__category {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
  margin: 0;
  color: #ffd31c;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.5em;
  transition: all 0.75s;
  -webkit-transition: all 0.25s;
  opacity: 1;
}

.section__products__grid__product a:hover .product__category {
  opacity: 0;
}

/*********************************************************** */

/* Shine effect */
.section__products__grid__product figure {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #fff;
  display: flex;
}

.section__products__grid__product figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background:
    -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.section__products__grid__product a:hover figure::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}

.section__products__grid__product figure::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: all 0.75s;
  -webkit-transition: all 0.75s;
}

.section__products__grid__product a:hover figure::after {
  opacity: 0;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.section__full-image {
  background-color: #f7f7f7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7em 0;
  box-shadow: 0 0 10px rgba(23, 23, 23, 0.3);
}

.section__full-image__content {
  height: 100%;
}

.section__full-image__content--left {
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.section__full-image__content--right {
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.section__full-image__content__card {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  padding: 3em;
  max-width: 700px;
  box-shadow: 0 0 20px rgba(23, 23, 23, 0.3);
}

.section__full-image__content__card h2 {
  color: #232323;
  margin: 0;
}

.section__full-image__content__card h5 {
  color: #006ef9;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 0 20px;
}

.section__full-image__content__card p {
  margin: 20px 0 30px;
  line-height: 1.4;
  max-width: 500px;
}

.btn__area {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url(img/btn-background.png);
  background-size: cover;
  background-position: bottom;
  padding: 6%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

a.btn--main {
  color: #232323;
  background-color: #ffd31c;
  font-weight: 600;
  padding: 0.35em 0.75em;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(23, 23, 23, 0.3);
  transition: all 0.2s ease-in-out;
}

a.btn--main:hover {
  color: #232323;
  background-color: #d7ad00;
  box-shadow: 0 2px 3px rgba(23, 23, 23, 0.3);
}

a.btn--main--big {
  font-size: 1.25em;
  padding: 0.7em 1em;
  margin: 0;
}

/* Full bleed images based on layout/_full-image.scss */

.section__full-image--offer {
  background-image: url(img/offer-background.jpg);
}

.section__full-image--speaker {
  background-image: url(img/speaker-chris-williams-background.jpg);
}
