/* Footer */
.footer {
  background: linear-gradient(135deg, #232323, #0a0a0a);
  //background-color: red;
}
.footer__content {
  width: 100%;
  max-width: 1440px;
  padding: 0 3%;
  margin: 0 auto;
  box-sizing: border-box;
}
.footer__content__banner {
  padding: 1.5em 0;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__content__banner a {
  display: flex;
}
.footer__content__banner a img {
  height: 42px;
}
.footer__content__footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  padding: 3em 0;
  border-top: 1px solid #ffd31c;
  border-bottom: 1px solid #ffd31c;
}
.footer__content__footer__col {
  list-style-type: none;
  padding: 0;
  margin: 0 0 3em;
  min-width: 200px;
}
.footer__content__footer__col li {
  margin: 10px 0;
}
.footer__content__footer__col li:first-child {
  color: #ffd31c;
  font-weight: 600;
  margin: 0 0 20px;
}
.footer__content__footer__col li:last-child {
  margin-bottom: 0;
}
.footer__content__footer__col a {
  color: #f7f7f7;
  text-decoration: none;
}
.footer__content__footer__col a:hover {
  color: #ffd31c;
}
.footer__content__legal {
  color: #f7f7f7;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.footer__content__legal__links {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__content__legal a {
  color: #f7f7f7;
  text-decoration: none;
  margin-left: 30px;
}
.footer__content__legal a:hover {
  color: #ffd31c;
}
