.section__hero {
  @apply m-0 bg-black bg-left bg-no-repeat bg-cover relative min-h-full flex justify-center items-stretch flex-row;

  &__container {
    @apply flex flex-initial justify-end w-full my-0 mx-auto box-border overflow-hidden items-stretch flex-row pr-12;

    max-width: 1440px;

    &__content {
      @apply w-full bg-black flex justify-between flex-col;
      @apply md:w-5/12;

      /* stylelint-disable */
      background: linear-gradient(
        135deg,
        rgba(80, 80, 80, .9) 0%,
        rgba(60, 60, 60, .9) 50%,
        rgba(50, 50, 50, .9) 100%
      );
      /* stylelint-enable */

      box-shadow: 0 0 20px #232323;

      &__text {
        @apply p-6 relative;
        @apply md:p-12;

        /* @screen md {
          &::after {
            @apply w-0 h-0 border-solid right-0 top-0 absolute;

            content: '';
            border-width: 0 110px 110px 0;
            border-color: transparent #1c80ff transparent transparent;
          }
        } */
      }

      .logo {
        @apply pt-5 hidden;
        @apply md:block;

        img {
          width: 240px;
        }
      }

      .slogan {
        @apply text-white uppercase pt-5 pb-2 font-normal;

        font-size: 1em;
      }

      .expo {
        @apply text-yellow;

        font-weight: 400;
        font-size: 1.5em;
      }

      .date {
        @apply text-yellow font-bold text-3xl;
      }

      .title {
        @apply text-4xl text-white uppercase py-3 m-0 font-bold;
        @apply md:text-5xl;
      }

      .subtitle {
        @apply text-white py-2 italic text-lg;

        font-size: 0.9em;
        line-height: 1.4;
      }
    }
  }
}
