<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <!--<sitecore role:require="Standalone or ContentManagement">-->
  <sitecore>
    <controlSources>
      <source mode="on" namespace="Sitecore.Demo.Edge.Website.CustomFields" assembly="Sitecore.Demo.Edge.Website" prefix="demoExtension"/>
    </controlSources>

    <fieldTypes>
      <fieldType name="CmpMultiList" type="Sitecore.Demo.Edge.Website.CustomFields.CmpMultiList, Sitecore.Demo.Edge.Website" />
    </fieldTypes>

    <pipelines>
      <cmp.importEntity>
        <processor patch:after = "processor[@type='Sitecore.Connector.CMP.Pipelines.ImportEntity.SaveFieldValues, Sitecore.Connector.CMP']" type="Sitecore.Demo.Edge.Website.Pipelines.DemoCmpMultilistFieldMapping, Sitecore.Demo.Edge.Website" resolve="true"/>
      </cmp.importEntity>
      <group groupName="layoutService">
        <pipelines>
          <getFieldSerializer>
            <processor type="Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetMultilistFieldSerializer, Sitecore.LayoutService" resolve="true">
              <FieldTypes hint="list">
                <fieldType id="7">CmpMultiList</fieldType>
              </FieldTypes>
            </processor>
          </getFieldSerializer>
        </pipelines>
      </group>
      <!--<group groupName="layoutService">
        <pipelines>
          <getFieldSerializer>
            <processor patch:before="processor[@type='Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetMultilistFieldSerializer, Sitecore.LayoutService']" type="Sitecore.Demo.Edge.Website.Pipelines.GetCustomFieldSerializer, Sitecore.Demo.Edge.Website" resolve="true">
              <FieldTypes hint="list">
                <fieldType id="1">CmpMultiList</fieldType>
              </FieldTypes>
            </processor>
          </getFieldSerializer>
        </pipelines>
      </group>-->
    </pipelines>
  </sitecore>
</configuration>
