<?xml version="1.0"?>

<!-- DEMO TEAM CUSTOMIZATION: Decrease the maximum serialized depth of the Layout Service to decrease the size of the output -->
<configuration>
  <sitecore>
    <layoutService>
        <serializationMaxDepth>2</serializationMaxDepth>
    </layoutService>
  </sitecore>
</configuration>