<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <controlSources>
      <!--DEMO TEAM CUSTOMIZATION: Add new field to read comma separated names synced from Content Hub -->
      <source mode="on" namespace="Sitecore.Demo.Edge.Website.CustomFields" assembly="Sitecore.Demo.Edge.Website" prefix="demoExtension"/>
    </controlSources>

    <fieldTypes>
      <!--DEMO TEAM CUSTOMIZATION: Add new field which isa duplicate of Treelist -->
      <fieldType name="CmpMultiList" type="Sitecore.Demo.Edge.Website.CustomFields.CmpMultiList, Sitecore.Demo.Edge.Website" />
    </fieldTypes>

    <pipelines>
      <cmp.importEntity>
        <!--DEMO TEAM CUSTOMIZATION: Add new pipeline to convert content hub values to sitecore readable values -->
        <processor patch:after = "processor[@type='Sitecore.Connector.CMP.Pipelines.ImportEntity.SaveFieldValues, Sitecore.Connector.CMP']" type="Sitecore.Demo.Edge.Website.Pipelines.DemoCmpMultilistFieldMapping, Sitecore.Demo.Edge.Website" resolve="true"/>
      </cmp.importEntity>
      <group groupName="layoutService">
        <pipelines>
          <getFieldSerializer>
            <!--DEMO TEAM CUSTOMIZATION: Serialize custom field values to jss readable format -->
            <processor type="Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetMultilistFieldSerializer, Sitecore.LayoutService" resolve="true">
              <FieldTypes hint="list">
                <fieldType id="7">CmpMultiList</fieldType>
              </FieldTypes>
            </processor>
          </getFieldSerializer>
        </pipelines>
      </group>
    </pipelines>

    <services>
      <!--DEMO TEAM CUSTOMIZATION: Serialize custom field values for graphQL -->
      <register serviceType="Sitecore.Services.GraphQL.EdgeSchema.TemplateGeneration.FieldMapping.IFieldTypeFactoryStore, Sitecore.Services.GraphQL.EdgeSchema">
        <patch:attribute name="implementationType">Sitecore.Demo.Edge.Website.CustomFieldMapping.DemoFieldTypeFactoryStore, Sitecore.Demo.Edge.Website</patch:attribute>
      </register>
    </services>
  </sitecore>
</configuration>
