<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <!-- DEMO TEAM CUSTOMIZATION - This file includes custom configuration -->
    <settings>
      <setting name="ItemNameAllowMixingReplacementCharacters" value="false" />
      <setting name="ExperienceEdge.EnableItemLanguageFallback" value="true"/>
      <setting name="ExperienceEdge.EnableFieldLanguageFallback" value="true"/>
      <setting name="Authentication.ClientSessionTimeout" value="1440"/>
    </settings>

    <links>
      <urlBuilder>
        <languageEmbedding>never</languageEmbedding>
        <lowercaseUrls>true</lowercaseUrls>
      </urlBuilder>
    </links>

    <sites>
      <!--
        - Set default content start item in Content Editor.
        - Enable language fallback for Content Editor and Experience Editor (shell).
        - Enable language fallback for any future sites that inherit from website.
      -->
      <site name="shell">
        <patch:attribute name="contentStartItem">/EdgeWebsite/home</patch:attribute>
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
      </site>
      <site name="website">
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
      </site>
    </sites>
    <javaScriptServices>
      <renderEngines>
        <renderEngine name="http">
          <instance id="defaults">
            <!-- When EnableRelativeLinkProcessing is enabled, requests from Horizon/EE are taking a very long time. Disabling it does not seem to affect editing. -->
            <EnableRelativeLinkProcessing>false</EnableRelativeLinkProcessing>
          </instance>
        </renderEngine>
      </renderEngines>
    </javaScriptServices>

    <pipelines>
      <group groupName="layoutService">
        <pipelines>
          <getLayoutServiceContext>
            <processor type="Sitecore.Demo.Edge.Website.Pipelines.DemoContextExtension, Sitecore.Demo.Edge.Website" resolve="true">
              <ConfigItemPath>/sitecore/content/EdgeWebsite/Data/Config</ConfigItemPath>
              <StartDateFieldName>StartDate</StartDateFieldName>
              <PageTitleFIeldName>SiteBrowserTitle</PageTitleFIeldName>
            </processor>
          </getLayoutServiceContext>
        </pipelines>
      </group>

      <preprocessRequest>
        <processor patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.OverrideDialogs, Sitecore.Speak.Applications']" type="Sitecore.Demo.Edge.Website.Pipelines.LoadBalancingSchemeFix, Sitecore.Demo.Edge.Website" role:require="Standalone or ContentManagement or ContentDelivery or XMCloud" />
      </preprocessRequest>
    </pipelines>
  </sitecore>
</configuration>
