<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
		<!--<linkManager defaultProvider="sitecore">
			<providers>
				<add>
					<patch:attribute name="languageEmbedding">always</patch:attribute>
				</add>
			</providers>
		</linkManager>-->
		<settings>
			<setting name="Languages.AlwaysStripLanguage" set:value="false"/>
		</settings>
	</sitecore>
</configuration>