.cart-details {
  h1 {
    @apply text-2xl font-bold my-3;
  }

  &-grid {
    @apply flex flex-col-reverse lg:flex-row;
  }

  &-items {
    @apply w-full lg:mr-4;
  }

  &-actions {
    @apply mb-3 lg:w-1/3 lg:max-w-xs lg:relative lg:mb-0;

    &-wrapper {
      @apply lg:sticky lg:top-4;

      > * {
        @apply w-full;

        &:not(:last-child) {
          @apply mb-3;
        }
      }
    }
  }
}

.cart-summary {
  @apply px-6 bg-white-dark pb-1;

  strong {
    @apply text-xl;
  }
}

.quantity-input {
  @apply flex w-32;

  &-button {
    @apply w-9 border-2 border-gray text-xl text-white bg-gray;

    flex-shrink: 0;
  }

  input {
    @apply text-center;

    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      @apply m-0 appearance-none;
    }
  }

  select,
  input {
    @apply w-full border-2 border-gray italic;
  }
}

.quantity-static {
  @apply w-32 flex;

  .quantity-label {
    @apply border-2 border-gray p-0.5;

    flex-basis: 66%;
  }

  .quantity-num {
    @apply border-2 border-gray bg-gray text-white-light italic text-center p-0.5;

    flex-basis: 34%;
  }
}

.promo-input {
  input {
    @apply italic px-6 py-1 border-2 border-gray w-full;
  }
}

.gift-checkbox {
  @apply flex w-full text-left;

  input[type='checkbox'] {
    @apply mt-1;
  }

  .label-text {
    @apply ml-2 text-sm;
  }
}

.line-item-list {
  li {
    @apply border-2 border-white;
  }
}

.line-item-card {
  @apply border-8 border-white p-2;

  > *:not(:last-child) {
    @apply mb-3;
  }

  &-details {
    @apply grid gap-x-4;

    grid-template-columns: auto 1fr;

    img {
      @apply row-span-3;
    }

    .product-name {
      @apply row-start-1 col-start-2;
    }

    .product-specs {
      @apply row-start-2 col-start-2;
    }
  }

  .product-name {
    @apply font-bold mb-1;
  }

  .product-specs {
    @apply text-sm;
  }

  img {
    @apply w-16 h-16 object-contain sm:w-32 sm:h-32;
  }

  .user-comment {
    @apply w-full border-2 border-gray p-3 italic text-sm text-black;

    &::placeholder {
      @apply text-black;
    }
  }

  .quantity-alert {
    @apply text-pink;
  }

  .price {
    @apply flex flex-wrap justify-end text-right;

    &-base {
      @apply line-through text-sm text-black-lightest;
    }

    &-discount {
      @apply text-sm text-pink;
    }

    &-final {
      @apply text-xl text-orange font-bold w-full;
    }
  }

  .btn-remove,
  .btn-later,
  .btn-wishlist {
    @apply text-black-lightest;
  }

  &-footer {
    @apply flex flex-wrap items-center sm:flex-nowrap;

    > *:not(.price) {
      @apply mr-4;
    }

    .quantity-input {
      @apply order-first;
    }

    &::before {
      @apply w-full order-none mt-2 sm:hidden;

      content: '';
    }

    .price {
      @apply w-full mt-1 sm:w-auto sm:ml-auto sm:mt-0;
    }
  }
}
