.breadcrumb {
  @apply max-w-screen-2xl mx-auto overflow-hidden bg-transparent p-2 capitalize;

  li {
    @apply inline-block;

    a {
      @apply text-sm inline-block;
      &:before {
        display: block;
        content: attr(title);
        font-weight: bold;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        padding-left: 5px;
        padding-right: 3px;
      }
      &:hover {
        @apply font-bold;
      }
    }
  }
  li:not(:first-of-type):before {
    content: '> ';
    @apply font-normal inline;
    padding-left: 5px;
    padding-right: 3px;
  }
  .active {
    @apply font-bold;
  }
}
