.section__featured__event {
  background-image: url('../../img/featured-event-background.jpg');

  .triangle {
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      border-color: transparent;
      border-style: solid;
    }

    &::before {
      border-width: 2.5em;
      border-right-color: #006ef9;
      border-top-color: #006ef9;
    }

    &::after {
      border-radius: 0.4em;
      border-width: 1.35em;
      border-right-color: #006ef9;
      border-top-color: #006ef9;
    }
  }
}