/* Footer */
.footer {
  background: linear-gradient(135deg, #232323, #0a0a0a);

  a {
    @apply text-gray-lighter hover:text-yellow;
  }
}

.footer__content {
  @apply w-full px-3 box-border;
  margin: 0 auto;
}

.footer__content__banner {
  @apply flex items-center justify-between py-6;
}

.footer__content__footer {
  @apply flex items-start justify-between h-full flex-wrap py-10 px-4 md:px-8;
  border-top: 1px solid #ffd31c;
  border-bottom: 1px solid #ffd31c;
}

.footer__content__footer__col {
  @apply px-2 list-none;
  min-width: 140px;
}

.footer__content__footer__col li {
  @apply text-sm my-2;
}

.footer__content__footer__col li:first-child {
  @apply font-bold text-yellow;
}

.footer__content__legal {
  @apply text-sm flex items-center justify-between text-gray-lighter;
}

.footer__content__legal__links {
  @apply flex items-center justify-center text-gray-lighter;
}
