.form {
  h2 {
    @apply text-blue text-4xl uppercase;
  }

  .floating-label-wrap {
    @apply relative w-full;

    input {
      @apply relative w-full rounded p-2 border border-gray-dark text-sm font-medium;

      z-index: 1500;

      &::placeholder {
        @apply text-transparent;
      }
    }

    label {
      @apply absolute left-0 select-none cursor-text text-gray-dark text-sm font-medium p-2 w-auto m-0 inline-block;

      top: 1px;
      z-index: 2000;
      transition: transform 0.25s, opacity 0.25s, padding 0.25s ease-in-out;
      transform-origin: 0 0;
    }

    input:focus + label,
    input:not(:placeholder-shown) + label,
    select + label {
      @apply text-black;

      transform: translate(0, -1.8em) scale(0.9);
    }
  }

  .checkbox-label {
    @apply flex w-full text-left;

    input[type='checkbox'] {
      @apply mt-1;
    }

    .label-text {
      @apply ml-2 text-sm;
    }
  }

  .checkbox-field {
    @apply flex items-center pb-4 font-medium;

    input {
      @apply w-4 h-4 mr-2;
    }
  }

  .inline-fields {
    @apply flex;

    div + div {
      @apply md:ml-2;
    }
  }

  .footnote {
    @apply text-left text-sm;

    p + p {
      @apply mt-2;
    }

    .note {
      @apply text-xs italic;
    }

    a {
      @apply font-bold underline;
    }
  }

  .button-area {
    @apply px-6 pt-4 pb-10;
  }
}

.form.form--dark {
  @apply text-white;

  h2 {
    @apply text-yellow;
  }

  .floating-label-wrap {
    input {
      @apply text-black;
    }

    input:focus + label,
    input:not(:placeholder-shown) + label,
    select + label {
      @apply text-white;
    }
  }
}
