.section__full-image--offer {
  background-image: url(../../img/offer-background.jpg);
}

.section__full-image--speaker {
  background-image: url(../../img/speaker-chris-williams-background.jpg);
}

.section__full-image--map {
  @apply h-96 brightness-50;

  background-image: url(../../img/play-venue-map.jpg);
}
