.section__hero {
  @apply m-0 bg-black bg-left bg-no-repeat bg-cover relative;

  margin-top: 102px;
  @apply md:bg-home-hero;

  &__container {
    @apply flex items-center justify-end w-full my-0 mx-auto box-border overflow-hidden;

    max-width: 1440px;
    padding: 0 3%;

    &__content {
      @apply w-full bg-black-light;

      max-width: 600px;
      background: linear-gradient(135deg, #3c3c3c, #232323);
      box-shadow: 0 0 20px #232323;

      &__text {
        padding: 6%;
      }

      img {
        width: 240px;
      }

      .banner__title__eyebrow {
        @apply text-white uppercase;

        font-weight: 600;
        font-size: 1.5em;
      }

      .banner__title__title {
        @apply text-5xl text-white uppercase m-0;

        font-weight: 600;
      }

      .banner__title__sub-title {
        @apply text-yellow;

        font-weight: 600;
        font-size: 1.5em;
      }

      .banner__title__p {
        @apply text-white;

        font-size: 1.25em;
        line-height: 1.4;
      }
    }
  }
}

.experience-editor-active {
  .section__hero {
    @apply mt-0;
  }
}
