.section__hero {
  @apply m-0 bg-black bg-left bg-no-repeat bg-cover relative;
  @apply md:bg-home-hero;

  &__container {
    @apply flex items-center justify-end w-full my-0 mx-auto box-border overflow-hidden;

    max-width: 1440px;

    &__content {
      @apply w-full bg-black-light;
      @apply md:w-45;

      background:
        linear-gradient(
          135deg,
          rgba(80, 80, 80, 1) 0%,
          rgba(60, 60, 60, 1) 50%,
          rgba(50, 50, 50, 1) 100%
        );
      box-shadow: 0 0 20px #232323;

      &__text {
        @apply p-6 relative;
        @apply md:p-12;

        @media (min-width: 768px) {
          &::after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 110px 110px 0;
            border-color: transparent #1c80ff transparent transparent;
            right: 0;
            top: 0;
            position: absolute;
          }
        }
      }

      img {
        width: 240px;
      }

      .slogan {
        @apply text-white uppercase pt-4 pb-5 font-extrabold;

        font-size: 1.5em;
      }

      .title {
        @apply text-4xl text-white uppercase py-3 m-0 font-bold;
        @apply md:text-5xl;
      }

      .expo {
        @apply text-yellow;

        font-weight: 600;
        font-size: 1.5em;
      }

      .subtitle {
        @apply text-white py-2;

        font-size: 0.8em;
        line-height: 1.4;
      }
    }
  }
}
