.section__news {
@include flex--center;
@apply flex-col bg-cover bg-center bg-no-repeat;
background-image: url(../../img/background-pattern-dark.svg);

}

.section__news__grid {
  @apply flex;
  margin: 1em auto 2em;
}

.section__news__grid__tweet {
  @apply bg-white border-solid border border-gray;
  width: 30%;
  margin: 5px;
  padding: 5px;
}

.section__news__grid__tweet__img {
  max-width: 100%;
}

.section__news__grid__tweet__content {
  padding: 10px;
}

.section__news__grid__tweet__content p {
  margin: 5px 0;
}

.section__news__grid__tweet__content__profile {
  @include flex--center;
}

.section__news__grid__tweet__content__profile__pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0 0 2px rgba(23, 23, 23, 0.2);
}

.section__news__grid__tweet__content__tweet {
  margin-top: 20px;
}

.section__news__grid__tweet__content__comments {
  @apply text-gray-dark;
}

.section__news__grid__news {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.section__news__grid__news__item {
  @include flex--center;
  @apply text-blue bg-white-light rounded-sm;
  width: calc(50% - 10px);
  margin: 5px;
  text-align: center;
  padding: 20px 5%;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.2;
  font-size: 1.25em;
  font-weight: 600;
  border-radius: 5px;
}

.section__news__grid__news__item:hover {
  color: #f7f7f7;
  background-color: #006ef9;
}

.news__item {
  width: calc(50% - 10px);
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 5%;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  font-size: var(--fs--medium);
  line-height: 1.35;
  border-radius: 5px;
  border: 1px solid var(--gray-light);
}

