.section__news {
  @include flex--center;
  @apply flex-col bg-cover bg-center bg-no-repeat;

  &--light {
    background-image: url(../../img/background-pattern-light.svg);
  }
  
  &--dark {
    background-image: url(../../img/background-pattern-dark.svg);
  }
}

.section__news__grid {
  @apply flex flex-col md:flex-row;
  margin: 1em auto 2em;
}

.section__news__grid__tweet {
  @apply bg-white border-solid border border-gray w-full md:w-1/4 lg:w-1/3 my-1 mx-0 md:mx-1;;
}

.section__news__grid__tweet__img {
  @apply max-w-full;
}

.section__news__grid__tweet__content {
  padding: 10px;
}

.section__news__grid__tweet__content p {
  @apply my-1 mx-0 md:mx-1;
}


.section__news__grid__tweet__content__profile {
  @include flex--center;
}

.section__news__grid__tweet__content__profile__pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0 0 2px rgba(23, 23, 23, 0.2);
}

.section__news__grid__tweet__content__tweet {
  margin-top: 20px;
}

.section__news__grid__tweet__content__comments {
  @apply text-gray-dark;
}

.section__news__grid__news {
  @apply w-full md:w-3/4 lg:w-2/3 flex flex-wrap;
}

.section__news__grid__news__item {
  @include flex--center;
  @apply text-blue text-center bg-white-light rounded-sm no-underline box-border;
  width: calc(50% - 10px);
  margin: 5px;
  padding: 20px 5%;
  line-height: 1.2;
  font-size: 1.25em;
  font-weight: 600;
  border-radius: 5px;
}

.section__news__grid__news__item:hover {
  @apply text-white bg-blue;
}

.news__item {
  @include flex--center;
  @apply no-underline box-border;
  width: calc(50% - 10px);
  margin: 5px;
  padding: 20px 5%;
  font-weight: 400;
  font-size: var(--fs--medium);
  line-height: 1.35;
  border-radius: 5px;
  border: 1px solid var(--gray-light);
}

