.section {
  @apply py-20 px-0;

  &__top-spacer {
    @apply pb-0;
  }

  &--bg-white {
    @apply bg-white;
  }

  &.dark {
    background: url(../../img/background-pattern-dark.svg);

    .section__content__title {
      @apply text-orange normal-case;
    }

    .section__content__p {
      @apply block;
    }
  }

  &.light {
    background: url(../../img/background-pattern-light.svg);

    .section__content__title {
      @apply text-blue normal-case;
    }

    .section__content__p {
      @apply block;
    }
  }
}

.section__content {
  @include content;
  @include flex--center--column;

  .section__content__p {
    @apply pb-8 text-center text-black sm:w-full md:w-2/3 lg:w-1/2 leading-normal;

    p {
      @apply pb-3;
    }

    &--dark {
      @apply text-white;
    }
  }

  &--left {
    @apply items-start justify-start;
    @apply sm:pl-10 sm:w-full;
    @apply md:w-3/5 md:ml-0;
  }

  &.left__content {
    .section__content__p {
      @apply text-left;
    }
  }

  &.full__content {
    @apply w-full bg-cover bg-center bg-no-repeat;

    .section__content__p {
      @apply w-full text-left;
    }
  }

  &.left-full__content {
    max-width: 50em;
    margin: 0 auto;
    align-items: start;
    justify-content: left;

    .section__content__p {
      @apply w-full text-left;
    }
  }
}

.section__content__subtitle--center {
  @apply text-center;
}

.section__content__title {
  @apply text-2xl font-bold pb-5 uppercase m-0;
  @apply md:text-5xl;

  &--light {
    @apply text-blue-light;
  }

  &--dark {
    @apply text-yellow;
  }
}

.scEmptyPlaceholder {
  @apply w-full h-20;
}
