.section__sponsors {
  @apply bg-cover bg-center bg-no-repeat bg-pattern-light;

  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
