.section__news {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(../../img/background-pattern-dark.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .section__content__p {
    @apply hidden;
  }
}
