.section {
  @apply py-20 px-0;

  &__top-spacer {
    @apply pb-0;
  }

  .section__content {
    @include content;
    @include flex--center--column;

    .section__content__title {
      @apply text-2xl font-bold pb-5 m-0 text-blue-light normal-case;
      @apply md:text-5xl;
    }

    .section__content__subtitle--center {
      @apply text-center;
    }

    .section__content__p {
      @apply pb-8 text-center text-black sm:w-full md:w-2/3 lg:w-1/2 leading-normal;

      p {
        @apply pb-3;
      }
    }

    &--left {
      @apply items-start justify-start;
      @apply sm:pl-10 sm:w-full;
      @apply md:w-3/5 md:ml-0;
    }

    &.left__content {
      .section__content__p {
        @apply text-left;
      }
    }

    &.full__content {
      @apply w-full bg-cover bg-center bg-no-repeat;

      .section__content__p {
        @apply w-full text-left;
      }
    }

    &.left-full__content {
      max-width: 50em;
      margin: 0 auto;
      align-items: start;
      justify-content: left;

      .section__content__p {
        @apply w-full text-left;
      }
    }
  }

  &--dark {
    @apply bg-black;

    .section__content {
      .section__content__p {
        @apply text-white;
      }

      .section__content__title {
        @apply text-orange;
      }
    }
  }

  &--light {
    @apply bg-white;
  }

  &--dark-pattern {
    @apply bg-pattern-dark;
  }

  &--light-pattern {
    @apply bg-pattern-light;
  }
}

.scEmptyPlaceholder {
  @apply w-full h-20;
}
