.section__sponsors {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(../../img/background-pattern-light.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section__sponsors__grid {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto 1em;
}

.section__sponsors__grid img {
  width: 180px;
  margin: 1em;
}

.section__sponsors__grid img:hover {
  filter: invert(39%) sepia(72%) saturate(4583%) hue-rotate(207deg) brightness(109%) contrast(101%);
}
