.ticket-grid-block {
  @apply bg-white-lighter px-5 lg:px-10;

  ul {
    @apply py-5;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
    font-size: medium;
    li:before {
      content: '';
      display: inline-block;
      height: 1em;
      width: 1em;
      background-image: url(/assets/img/tickets/check.svg);
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 0.5em;
      fill: red;
    }

    li {
      @apply my-4;
    }
  }
  &--red {
    .slanted-spacer {
      width: 100%;
      height: 20px;
      background-color: red;
    }
    .price {
      color: red;
    }
  }
  &--yellow {
    .slanted-spacer {
      width: 100%;
      height: 20px;
      background-color: #FFD41C;
    }
    .price {
      @apply text-6xl;
      color: #FFD41C;
    }
  }
  &--blue {
    .slanted-spacer {
      width: 100%;
      height: 20px;
      background-color: #1C80FF;
    }
    .price {
      @apply text-6xl;
      color: #1C80FF;
    }
  }
  &--pink {
    .slanted-spacer {
      width: 100%;
      height: 20px;
      background-color: #FF1787;
    }
    .price {
      @apply text-6xl;
      color: #FF1787;
    }
  }
}
