.main {
  @apply p-7 pt-20;

  .icons {
    @apply grid grid-cols-3 text-white gap-5 text-center;
  }
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
