.breadcrumb {
  @apply max-w-screen-2xl mx-auto overflow-hidden bg-transparent p-7 capitalize;

  li {
    @apply inline-block;

    a,
    span {
      @apply text-sm inline-block;

      &::before {
        @apply block font-bold overflow-hidden h-0 invisible;

        content: attr(title);
        padding-left: 5px;
        padding-right: 3px;
      }

      &:hover {
        @apply font-bold;
      }
    }

    &:not(:first-of-type)::before {
      @apply font-normal inline;

      content: '> ';
      padding-left: 5px;
      padding-right: 3px;
    }

    &:last-child {
      @apply font-bold;
    }
  }
}
