.main-navigation {
  @apply bg-black;

  height: 82px;

  @screen xl {
    height: auto;
  }

  .navigation-content {
    @include flex--sb-w;

    @apply w-full;
    @apply xl:container xl:px-5 xl:mx-auto xl:gap-4;

    .controls-container {
      @apply w-full flex justify-between;
      @apply xl:w-auto xl:max-w-full xl:static xl:block xl:px-0;

      .logo-link {
        @apply text-xl font-bold leading-relaxed inline-block py-4 whitespace-nowrap uppercase text-white;

        img {
          @apply w-auto;

          height: 46px;
        }
      }

      .items-toggle {
        @apply text-white cursor-pointer text-xl leading-none border border-solid border-transparent rounded bg-transparent block outline-none w-8;
        @apply focus:outline-none;
        @apply xl:hidden;
      }
    }

    .items-container {
      @apply flex-grow bg-black-light py-5;
      @apply xl:bg-transparent xl:py-0;

      &.opened {
        @apply flex w-full;
      }

      &.closed {
        @apply hidden;
        @apply xl:flex;
      }

      ul {
        @apply flex flex-col list-none;
        @apply xl:flex-row xl:items-center xl:ml-auto xl:mr-0 xl:p-0 xl:w-auto;

        .text-menu-item a {
          @apply text-base leading-loose text-white;
          @apply hover:text-yellow;
          @apply xl:px-3;
        }

        .button-menu-item {
          a {
            @apply mt-3 inline-block text-black;
            @apply hover:text-white;
            @apply xl:mt-0 xl:ml-3;
          }
        }

        .button-menu-item + .button-menu-item {
          a {
            @apply xl:ml-6;
          }
        }
      }
    }
  }
}
