.main-navigation {
  @apply bg-black;

  height: 78px;

  @screen xl {
    height: 93px;
  }

  .navigation-content {
    @include flex--sb-w;

    @apply w-full;
    @apply xl:container xl:mx-auto;

    .controls-container {
      @apply w-full flex justify-between px-6;
      @apply xl:w-auto xl:static xl:block;

      .logo-link {
        @apply text-xl font-bold leading-relaxed inline-block py-4 whitespace-nowrap uppercase text-white;

        img {
          height: 46px;
        }
      }

      .items-toggle {
        @apply text-white cursor-pointer text-xl leading-none border border-solid border-transparent rounded bg-transparent block outline-none w-8;
        @apply focus:outline-none;
        @apply xl:hidden;
      }
    }

    .items-container {
      @apply flex-grow bg-black-light px-4 pb-5;
      @apply xl:bg-transparent xl:pb-0;

      &.opened {
        @apply flex;
      }

      &.closed {
        @apply hidden;
        @apply xl:flex;
      }

      ul {
        @apply flex flex-col list-none;
        @apply xl:flex-row xl:items-center xl:ml-auto;

        .text-menu-item a {
          @apply px-3 py-2 text-base leading-loose text-white;
          @apply hover:text-yellow;
        }

        .button-menu-item {
          a {
            @apply ml-3 mt-3 inline-block text-black;
            @apply hover:text-white;
            @apply xl:mt-0;
          }
        }

        .button-menu-item + .button-menu-item {
          a {
            @apply xl:ml-6;
          }
        }
      }
    }
  }
}
